{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - Appearance details" %}

{% set appearanceSummaryRows = [
 
    {
        key: {
        text: "Case reference"
    },
        value: {
        text: appearance.caseReferenceNumber
    },
        actions: {
        items: [
            {
                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/reference",
                text: "Edit",
                visuallyHiddenText: "case reference"
            }
        ]
    }
    },
    {
        key: {
        text: "Warrant date"
    },
        value: {
        text: appearance.warrantDate | formatDate
    }
    }
] %}

{% set appearanceSummaryRows = appearanceSummaryRows.concat({
    key: {
        text: "Location"
    },
    value: {
        text: courtMap[appearance.courtCode] if courtMap[appearance.courtCode] else appearance.courtCode
    },
    actions: {
        items: [
            {
                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/court-name",
                text: "Edit",
                visuallyHiddenText: "location"
            }
        ]
    }
}) %}

{% set nextHearingSummaryRows = [{
    key: {
        text: "Next hearing set"
    },
    value: {
        text: "Yes" if appearance.nextHearingSelect else "No"
    },
    actions: {
        items: [
            {
                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-hearing-select",
                text: "Edit",
                visuallyHiddenText: "Next hearing set"
            }
        ]
    }
}] %}

{% if appearance.nextHearingSelect %}
    {% set nextHearingSummaryRows = nextHearingSummaryRows.concat([
        {
            key: {
            text: "Location"
        },
            value: {
            text: courtMap[appearance.nextHearingCourtCode]
        },
            actions: {
            items: [
                {
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-hearing-court-name",
                    text: "Edit",
                    visuallyHiddenText: "Next hearing court name"
                }
            ]
        }
        },
        {
            key: {
            text: "Hearing type"
        },
            value: {
            text: appearanceTypeDescription
        },
            actions: {
            items: [
                {
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-hearing-type",
                    text: "Edit",
                    visuallyHiddenText: "Next hearing type"
                }
            ]
        }
        },
        {
            key: {
            text: "Date"
        },
            value: {
            text: appearance.nextHearingDate | formatDateTime(appearance.nextHearingTimeSet)
        },
            actions: {
            items: [
                {
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-hearing-date",
                    text: "Edit",
                    visuallyHiddenText: "next hearing date"
                }
            ]
        }
        }
    ]) %}
{% endif %}
{% set overallSentenceLengthText = "Not entered" %}
{% if appearance.overallSentenceLength %}
    {% set overallSentenceLengthText = appearance.overallSentenceLength | formatLengths %}
{% endif %}

{% set offenceRows = [{
        key: {
            text: "Overall sentence length"
        },
        value: {
            text: overallSentenceLengthText
        },
        actions: {
            items: [
                {
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/sentencing/overall-sentence-length",
                    text: "Edit",
                    visuallyHiddenText: "overall sentence length"
                }
            ]
        }
    }, {
        key: {
                text: "Sentences added"
            },
        value: {
                text: overallSentenceLengthComparison.custodialLength | formatLengthsWithoutPeriodOrder
            }
    }
    ] %}    

{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">
                {% if appearance.caseReferenceNumber %}
                    {{ appearance.caseReferenceNumber }} at {{ courtMap[appearance.courtCode] if courtMap[appearance.courtCode] else appearance.courtCode }} on {{ appearance.warrantDate | formatDate }}
                {% else %}
                    Case held at {{ courtMap[appearance.courtCode] if courtMap[appearance.courtCode] else appearance.courtCode }}
                {% endif %}
            </span>
            <h1 class="govuk-heading-l">Edit appearance</h1>

            {{ govukSummaryList({
                rows: appearanceSummaryRows,
                attributes: {
                    "data-qa": "appearanceSummaryList"
                }
            }) }}

            <h2 class="govuk-heading-m">Next hearing</h2>
            {{ govukSummaryList({
                    rows: nextHearingSummaryRows,
                    attributes: {
                        "data-qa": "nextHearingSummaryList"
                    }
                }) }}

            <h2 class="govuk-heading-m">Offences <span class="govuk-body">({{ appearance.offences | length }})</span></h2>
            {{ govukSummaryList({
                rows: offenceRows,
                attributes: {
                    "data-qa": "overallSummaryList"
                }
            }) }}

            {{ govukButton({
                text: "Add an offence" ,
                classes: "govuk-button--link",
                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + appearance.offences | length + "/add-another-offence",
                attributes: {
                    "data-qa": "addAnotherOffence"
                }
            }) }}

            <h3 class="govuk-heading-s govuk-!-margin-top-8">Offences with custodial outcomes</h3>
            <span data-qa="custodialOffences">
            {% for offence in custodialOffences %}
                {{ offenceCard({
            offenceCode: offence.offenceCode,
            offenceName: offenceMap[offence.offenceCode],
            offenceStartDate: offence.offenceStartDate | formatDate,
            offenceEndDate: offence.offenceEndDate | formatDate,
            outcome: outcomeMap[offence.outcomeUuid] | chargeOutcomeOrLegacy(offence.legacyData),
            countNumber: offence.sentence.countNumber,
            lineNumber: offence.sentence.legacyData.nomisLineReference if offence.sentence and offence.sentence.legacyData,
            convictionDate: offence.sentence.convictionDate | formatDate,
            terrorRelated: offence.terrorRelated,
            isSentenced: offence.sentence,
            periodLengths: offence.sentence.periodLengths,
            sentenceServeType: offence.sentence.sentenceServeType,
            consecutiveTo: sessionConsecutiveToSentenceDetailsMap[offence.sentence.consecutiveToSentenceReference] if offence.sentence and offence.sentence.consecutiveToSentenceReference else consecutiveToSentenceDetailsMap[offence.sentence.consecutiveToSentenceUuid],
            sentenceType: sentenceTypeMap[offence.sentence.sentenceTypeId] | sentenceTypeValueOrLegacy(offence.sentence.legacyData),
            fineAmount: offence.sentence.fineAmount,
            actions: {
                items: [
                    {
                        href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference +"/offences/" + offence.index + "/edit-offence",
                        text: "Edit",
                        visuallyHiddenText: "edit offence"
                    },
                    {
                        href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference +"/offences/" + offence.index + "/delete-offence",
                        text: "Delete",
                        visuallyHiddenText: "delete offence"
                    }
                ]
            }
        }) }}
            {% else %}
                {{ govukInsetText({
                            text: "There are no offences with custodial outcomes."
                        }) }}
            {% endfor %}
            </span>

            <h3 class="govuk-heading-s govuk-!-margin-top-8">Offences with non-custodial outcomes</h3>

            {% for offence in nonCustodialOffences %}
                {{ offenceCard({
                    offenceCode: offence.offenceCode,
                    offenceName: offenceMap[offence.offenceCode],
                    offenceStartDate: offence.offenceStartDate | formatDate,
                    offenceEndDate: offence.offenceEndDate | formatDate,
                    outcome: outcomeMap[offence.outcomeUuid] | chargeOutcomeOrLegacy(offence.legacyData),
                    countNumber: offence.sentence.countNumber,
                    lineNumber: offence.sentence.legacyData.nomisLineReference if offence.sentence and offence.sentence.legacyData,
                    convictionDate: offence.sentence.convictionDate | formatDate,
                    terrorRelated: offence.terrorRelated,
                    isSentenced: offence.sentence,
                    periodLengths: offence.sentence.periodLengths,
                    sentenceServeType: offence.sentence.sentenceServeType,
                    consecutiveTo: consecutiveToSentenceDetailsMap[offence.sentence.consecutiveToSentenceUuid],
                    sentenceType: sentenceTypeMap[offence.sentence.sentenceTypeId] if offence.sentence,
                    fineAmount: offence.sentence.fineAmount,
                    actions: {
                        items: [
                            {
                                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference +"/offences/" + offence.index + "/edit-offence",
                                text: "Edit",
                                visuallyHiddenText: "edit offence"
                            },
                            {
                                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference +"/offences/" + offence.index + "/delete-offence",
                                text: "Delete",
                                visuallyHiddenText: "delete offence"
                            }
                        ]
                    }
                }) }}
            {% else %}
                {{ govukInsetText({
                            text: "There are no offences with non-custodial outcomes.",
                            classes: "govuk-!-margin-top-2",
                            attributes: {
                                'data-qa': 'noNonCustodialOutcomeInset'
                            }
                        }) }}
            {% endfor %}
            
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/sentencing/submit-details-edit">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm changes",
                        preventDoubleClick: true,
                        attributes: { 'data-qa': 'confirm-button' }
                    }) }}
                    <a class="govuk-link" href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/details">Cancel changes</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}