{% extends "../../partials/backLinkLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - You cannot mark a sentence inactive with active consecutive sentences" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You cannot mark a sentence inactive with active consecutive sentences</h1>

            <p class="govuk-body">The following sentences cannot be marked as inactive because they have an active sentence consecutive to them:</p>

            {% for offence in blockedOffences %}
                {% set countDescription = offence.sentence.countNumber | formatCountNumber(offence.sentence.legacyData.nomisLineReference) %}
                <p class="govuk-body" data-qa="activeConsecutiveOffence-{{ loop.index0 }}">
                    <strong>{{ offence.offenceCode }} - {{ offenceMap[offence.offenceCode] }}</strong><br>
                    {% if offence.offenceStartDate %}
                        Committed on {{ offence.offenceStartDate | formatDate }}
                        {{- ' to ' + (offence.offenceEndDate | formatDate) if offence.offenceEndDate }}<br>
                    {% endif %}
                    {% if countDescription %}
                        {{ countDescription }}<br>
                    {% endif %}
                    {% if offence.sentence.consecutiveToSentenceUuid %}
                        Consecutive to {{ countNumberBySentenceUuid[offence.sentence.consecutiveToSentenceUuid] | formatCountNumber }}
                    {% elif offence.sentence.sentenceServeType === 'FORTHWITH' %}
                        Forthwith
                    {% else %}
                        Concurrent
                    {% endif %}
                </p>
            {% endfor %}

            <h2 class="govuk-heading-m">What to do next</h2>
            <p class="govuk-body">You must remove the active consecutive sentences before marking these sentences as inactive.</p>

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Cancel changes",
                    classes: "govuk-button--secondary",
                    href: editHearingLink,
                    attributes: { 'data-qa': 'cancel-button' }
                }) }}
                <a class="govuk-link" href="{{ backLink }}" data-qa="go-back-to-select-sentences-link">Go back to select sentences</a>
            </div>
        </div>
    </div>
{% endblock %}
