{% extends "../../partials/backLinkLayout.njk" %}

{% set pageTitle = applicationName + " - You cannot mark these sentences as inactive" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You cannot mark these sentences as inactive</h1>
        </div>
    </div>
{% endblock %}
