{% extends "../../partials/backLinkLayout.njk" %}
{% from "moj/components/interruption-card/macro.njk" import interruptionCard %}

{% set pageTitle = "offence - Deleting sentence in consecutive chain" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            {% call interruptionCard({
                heading: "Deleting this sentence will break the consecutive chain",
                primaryAction: {
                    text: "Yes, delete the sentence",
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference +"/sentencing/offences/"+ chargeUuid +"/continue-delete-sentence-in-chain",
                    attributes: {
                        "data-qa": "continue-button"
                    }
                },
                secondaryAction: {
                    text: "Go back",
                    href: goBackLink
                }
            })%}
                <p class="govuk-body-l govuk-!-width-three-quarters">
                    {% if offence.sentence.countNumber and offence.sentence.countNumber !== '-1'%}
                        Count {{ offence.sentence.countNumber }}<br>
                    {% endif %}
                    <strong>{{ offence.offenceCode }} {{ offenceDetails.description}}</strong><br>
                    {% if offence.offenceStartDate %}
                        committed on {{ offence.offenceStartDate | formatDate }}{% if offence.offenceEndDate %} to {{offence.offenceEndDate | formatDate }}{% endif %}
                    {% endif %}
                </p>
                <p class="govuk-body">This sentence is currently linked to another sentence as part of a consecutive chain. If you delete it, the chain will be broken and the sentencing information might no longer reflect the warrant correctly.</p>
                <p class="govuk-body">After deleting the sentence, you will need to check the other sentences, to make sure they are accurate.</p>
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">Are you sure you want to delete it?</p>
            {%- endcall %}
        </div>
    </div>
{% endblock %}
