{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "moj/components/interruption-card/macro.njk" import interruptionCard %}

{% set pageTitle = "offence - Chaing sentence consecutive in consecutive chain" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            {% call interruptionCard({
                heading: "Changing what this sentence is consecutive to will affect the consecutive chain",
                primaryAction: {
                    text: "Yes, change the consecutive chain",
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference +"/sentencing/offences/"+ offenceReference +"/continue-making-sentence-consecutive",
                    attributes: {
                        "data-qa": "continue-button"
                    }
                },
                secondaryAction: {
                    text: "Go back",
                    href: backLink
                }
            })%}
                <p class="govuk-body-l govuk-!-width-three-quarters">
                    {% if offence.sentence.countNumber and offence.sentence.countNumber !== '-1'%}
                        Count {{ offence.sentence.countNumber }}<br>
                    {% endif %}
                    <strong>{{ offence.offenceCode }} {{ offenceDetails.description}}</strong><br>
                    {% if offence.offenceStartDate %}
                        committed on {{ offence.offenceStartDate | formatDate }}{% if offence.offenceEndDate %} to {{offence.offenceEndDate | formatDate }}{% endif %}
                    {% endif %}
                </p>
                <p class="govuk-body">By changing the order of the consecutive chain, the warrant information might no longer be reflected correctly.</p>
                <p class="govuk-body">You will need to check the other sentences, to make sure they are accurate.</p>
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">Are you sure you want to make this change?</p>
            {%- endcall %}
        </div>
    </div>
{% endblock %}
