{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - upload court documents" %}

{% block pageContent %}
  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Upload court documents</h1>
      <p class="govuk-caption-l">
        Uploading documents is optional. The selected file type should be among .PDF, .JPG, .DOC and .DOCX under 50MB.
      </p>
      <br>

      {# Define the list of document types you want to display on this page #}
      {% set documentTypesToDisplay = [
        { type: "HMCTS_WARRANT", name: "Sentencing warrant", uploadLinkSegment: "warrant" },
        { type: "TRIAL_RECORD_SHEET", name: "Trial record sheet", uploadLinkSegment: "trial-record-sheet" },
        { type: "INDICTMENT", name: "Indictment", uploadLinkSegment: "indictment" },
        { type: "PRISON_COURT_REGISTER", name: "Prison court register", uploadLinkSegment: "prison-court-register" }
      ] %}

      {# Loop through each defined document type #}
      {% for docTypeInfo in documentTypesToDisplay %}
        {% set uploadedDoc = uploadedDocuments | selectattr('documentType', 'equalto', docTypeInfo.type) | first %}

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ docTypeInfo.name }}</h2>

        {% if uploadedDoc and uploadedDoc.documentType == docTypeInfo.type %}
          {# Document of this type has been uploaded #}
          <p class="govuk-body">
            <div>
            <a class="govuk-link govuk-!-margin-left-0" href=""><strong>{{ uploadedDoc.fileName }}</strong></a>
            <span class="govuk-tag--green govuk-!-margin-left-4">Uploaded</span>
            <a class="govuk-link govuk-!-margin-left-4" href="">Remove</a>
            </div>
          </p>
          <p class="govuk-body">
                      <span> {{docTypeInfo.name}} </span>
                    </p>
        {% else %}
          {# Document of this type has NOT been uploaded #}
          <p class="govuk-body">
            <a class="govuk-link" href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/{{ docTypeInfo.uploadLinkSegment }}/upload-documents?_csrf={{ csrfToken }}">Upload {{ docTypeInfo.name | lower }}</a>
          </p>
        {% endif %}
        <hr class="govuk-!-margin-top-4 govuk-!-margin-bottom-4">
      {% endfor %}

      <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-check-answers">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukButton({
            text: "Continue",
            attributes: { 'data-qa': 'continue-button' }
        }) }}
      </form>

    </div>
  </div>
{% endblock %}