{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set pageTitle = applicationName + " - upload court documents" %}

{% block pageContent %}
<div class="govuk-!-margin-right-8">
 <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/sentencing/submit-upload-court-documents" autocomplete="off">
{% if addOrEditCourtAppearance == 'edit-court-appearance' %}
  <h1 class="govuk-heading-l">Manage court documents</h1>
{% else %}
  <h1 class="govuk-heading-l">Upload court documents</h1>
{% endif %}
<p class="govuk-hint">
    The file type must be a .PDF, JPG, .PNG, .DOC or .DOCX.
  </p>

  {% set documentTypesToDisplay = [
    { type: "HMCTS_WARRANT", name: "Sentencing warrant", uploadLinkSegment: "warrant" },
    { type: "TRIAL_RECORD_SHEET", name: "Trial record sheet", uploadLinkSegment: "trial-record-sheet" },
    { type: "INDICTMENT", name: "Indictment", uploadLinkSegment: "indictment" },
    { type: "PRISON_COURT_REGISTER", name: "Prison court register", uploadLinkSegment: "prison-court-register" }
  ] %}

  {% for docTypeInfo in documentTypesToDisplay %}
    {% set foundDoc = none %}

    {% for uploadedItem in uploadedDocuments %}
      {% if uploadedItem.documentType == docTypeInfo.type %}
        {% set foundDoc = uploadedItem %}
      {% endif %}
    {% endfor %}

    {% if foundDoc %}
              {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      html: '<a class="govuk-link govuk-link--no-visited-state" target="_blank"   href="/person/' + nomsId + '/' + addOrEditCourtCase + '/' + courtCaseReference + '/' + addOrEditCourtAppearance + '/' + appearanceReference + '/' + foundDoc.documentUUID + '/download-document"><strong>' + foundDoc.fileName + '</strong></a><br><span class="govuk-body-s">' + docTypeInfo.name + '</span>'
                    },
                    value: {
                      html: govukTag({text: "Uploaded", classes: "govuk-tag--green"})
                    },
                    actions: {
                      items: [
                        {
                          href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/" + foundDoc.documentUUID + "/delete-document",
                          text: "Delete",
                          visuallyHiddenText: "document"
                        }
                      ]
                    }
                  }
                ]
              }) }}
            {% else %}
              <p class="govuk-form-group govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/{{ docTypeInfo.uploadLinkSegment }}/upload-documents?_csrf={{ csrfToken }}">
                  Upload {{ docTypeInfo.name | lower }}
                </a>
              </p>
            {% endif %}

            {% if not loop.last %}
              <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
            {% endif %}
  {% endfor %}


    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukButton({
        text: "Continue",
        attributes: { 'data-qa': 'continue-button' }
    }) }}
  </form>
  </div>
{% endblock %}
