{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - upload sentencing court documents" %}

{% block pageContent %}
<div class="govuk-!-margin-right-8">
  <form method="post" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% call govukFieldset({
      legend: {
        text: "Manage court documents" if isEditJourney else "Upload court documents",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}
    <p class="govuk-hint">
      The file type must be a .PDF, JPG, .PNG, .DOC or .DOCX.
    </p>

    {% if isMultiTypeUploadEnabled %}
      {% include "../../partials/documents/displayMultiTypeUpload.njk" %}
    {% else %}
      {% include "../../partials/documents/displaySingleTypeUpload.njk" %}
    {% endif %}


    <div class="govuk-button-group govuk-!-margin-top-8">
      {{ govukButton({
          text: "Continue",
          attributes: { 'data-qa': 'continue-button' }
      }) }}
      {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
    </div>
    {% endcall %}
  </form>
  </div>
{% endblock %}
