{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set tableRows = [] %}

{% for appearanceOutcome in appearanceOutcomes %}
    {% set tableRows = tableRows.concat([
        [ {
            text: appearanceOutcome.outcomeUuid
        },
        {
            text: appearanceOutcome.outcomeName
        },
        {
            text: appearanceOutcome.nomisCode
        },
        {
            text: appearanceOutcome.outcomeType
        },
        {
            text: appearanceOutcome.warrantType
        },
        {
            text: appearanceOutcome.displayOrder
        },
        {
            text: chargeOutcomeNames[appearanceOutcome.relatedChargeOutcomeUuid]
        },
        {
            text: appearanceOutcome.isSubList
        },
        {
            text: appearanceOutcome.dispositionCode
        },
        {
            text: appearanceOutcome.status
        }]]) %}
{% endfor %}

{% block content %}
{% if successMessage %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-2">
        {{ govukNotificationBanner({
                text: successMessage,
                type: "success"
            }) }} 
    </div>
</div>
{% endif %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-top-8">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-l">Appearance outcome admin</h1>
                    <p class="govuk-body">
                        This page helps you find and review the appearance outcome reference data held in Remand and Sentencing.
                    </p>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    {{ govukButton({
                        text: "Add an appearance outcome",
                        href: '/admin/appearance-outcomes/add',
                        classes: 'govuk-link--no-visited-state'
                    }) }}
                </div>
            </div>
            
            {{
                govukTable({
                    caption: "Appearance outcomes",
                    attributes: {
                        "data-module": "moj-sortable-table"
                    },
                    captionClasses: "govuk-table__caption--m",
                    classes: "govuk-table--small-text-until-tablet",
                    head: [
                        {
                        text: "UUID",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Name",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "NOMIS Code",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Type",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Warrant type",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Display Order",
                        attributes: {
                            "aria-sort": "none"
                        },
                        format: "numeric"
                        },
                        {
                        text: "Related Charge Outcome",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Is sub list",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Disposition Code",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Status"
                        }
                    ],
                    rows: tableRows
                })
            }}
        </div>
    </div>

{% endblock %}