{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{%- set summaryListRows=[
                {
                    key: {
                        text: "Committed on"
                    },
                    value: {
                        text: params.offenceStartDate | formatDate + (" to " + params.offenceEndDate | formatDate if params.offenceEndDate else '')
                    },
                    actions: {
                        items: ([{
                            href: "/person/" +  params.nomsId + "/" + params.addOrEditCourtCase + "/" + params.courtCaseReference  + "/" + params.addOrEditCourtAppearance + "/" + params.appearanceReference + "/offences/" + params.offenceReference + "/offence-date?submitToEditOffence=true",
                            text: "Edit",
                            visuallyHiddenText: "commited on"
                        }] if params.canEdit else [])
                    }
                },
                {
                    key: {
                    text: "Outcome"
                },
                    value: {
                    text: params.outcome
                },
                    actions: {
                        items: ([{
                            href: "/person/" +  params.nomsId + "/" + params.addOrEditCourtCase + "/" + params.courtCaseReference  + "/" + params.addOrEditCourtAppearance + "/" + params.appearanceReference + "/offences/" + params.offenceReference + "/offence-outcome?submitToEditOffence=true",
                            text: "Edit",
                            visuallyHiddenText: "outcome"
                        }] if params.canEdit else [])
                    }
                }
            ]-%}

{% if params.sentenceType %}
    {% set summaryListRows = (summaryListRows.push({
                    key: {
                    text: "Sentence type"
                },
                    value: {
                    text: params.sentenceType
                }
                }), summaryListRows)%}
{% endif %}

{% if params.custodialSentenceLength %}

    {% set summaryListRows = (summaryListRows.push({
                    key: {
                    text: "Sentence length"
                },
                    value: {
                    text: params.custodialSentenceLength | formatLengths
                }
                }), summaryListRows)%}
{% endif %}

{% if params.licencePeriodLength %}

    {% set summaryListRows = (summaryListRows.push({
                    key: {
                    text: "Licence period"
                },
                    value: {
                    text: params.licencePeriodLength | formatLengths
                }
                }), summaryListRows)%}
{% endif %}

{% if params.sentenceServeType %}
    {% set sentenceServeTypeValue = params.sentenceServeType | capitalize %}
    {% if params.consecutiveTo %}
       {% set sentenceServeTypeValue = sentenceServeTypeValue + " to count " + params.consecutiveTo %} 
    {% endif %}
    {% set summaryListRows = (summaryListRows.push({
                    key: {
                    text: "Consecutive or concurrent"
                },
                    value: {
                    text: sentenceServeTypeValue
                }
                }), summaryListRows)%}
{% endif %}



<div class="offence-card {% if params.isSentenced %} sentence-card {% endif %} {% if params.canEdit %} offence-card-edit {% endif %}">
    <div class="offence-card-offence-details">
        {% if params.countNumber %}
            <span class="govuk-body-s">Count {{ params.countNumber }}</span>
        {% endif %}
        <h4 class="govuk-heading-s{% if params.canEdit %} offence-name {% endif %}">
            {{ params.offenceCode }} {{ params.offenceName }}
            {% if params.terrorRelated %}
                <br>
                <strong class="govuk-tag govuk-!-margin-top-2">
                    Terror-related
                </strong>
            {% endif %}
        </h4>
        {% if params.canEdit %}   
            <div class="offence-name-edit"><a class="govuk-link" href="/person/{{ params.nomsId }}/{{ params.addOrEditCourtCase }}/{{ params.courtCaseReference}}/{{ params.addOrEditCourtAppearance }}/{{ params.appearanceReference}}/offences/{{ params.offenceReference}}/offence-code?submitToEditOffence=true">Edit<span class="govuk-visually-hidden"> offence name</span></a></div>
        {% endif %} 

        {{ govukSummaryList({
            classes: "govuk-summary-list--no-border",
            rows: summaryListRows,
            attributes: {
                "data-qa": "offenceSummaryList"
            }
            }) 
        }}
    </div>
    {% if params.actions %}
       <div class="offence-card-actions">
            <ul class="offence-card-actions-list"> 
                {% for item in params.actions.items %}
                    <li class="offence-card-action-link">
                        <a href="{{ item.href }}" class="govuk-link">{{ item.text }}</a>  
                        {%- if item.visuallyHiddenText -%}
                            <span class="govuk-visually-hidden"> {{ item.visuallyHiddenText }}</span>
                        {% endif -%}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>