{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div class="offence-card">
    <div class="offence-card-offence-details">
        <h4 class="govuk-heading-s">{{ params.offenceCode }} {{ params.offenceName }}</h4>

        {{ govukSummaryList({
            classes: "govuk-summary-list--no-border",
            rows: [
                {
                    key: {
                        text: "Committed on"
                    },
                    value: {
                        text: params.offenceStartDate | formatDate + (" to " + params.offenceEndDate | formatDate if params.offenceEndDate else '')
                    }
                },
                {
                    key: {
                    text: "Outcome"
                },
                    value: {
                    text: params.outcome
                }
                }
            ]
            }) 
        }}
    </div>
    {% if params.actions %}
       <div class="offence-card-actions">
            <ul class="offence-card-actions-list"> 
                {% for item in params.actions.items %}
                    <li class="offence-card-action-link">
                        <a href="{{ item.href }}" class="govuk-link">{{ item.text }}</a>  
                        {%- if item.visuallyHiddenText -%}
                            <span class="govuk-visually-hidden"> {{ item.visuallyHiddenText }}</span>
                        {% endif -%}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>