<span class="govuk-caption-l" data-qa="offences-caption">
  {% if addOrEditCourtAppearance == 'add-court-appearance' %}
  Add aggravating factors
  {% else %}
  Update aggravating factors
  {% endif %}
</span>
