{% extends "./prisonerBannerBackLayout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../components/offenceSummaryRow/macro.njk" import offenceSummaryRow %}


{% block content %}
    {{ super() }}

    <div class="govuk-grid-row govuk-!-margin-top-4">

        <div class="govuk-grid-column-two-thirds">
            {% block pageContent %}{% endblock %}
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="offence-summary">
                <h2 class="govuk-heading-m govuk-!-margin-top-4">Appearance details</h2>
                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border offences-summary-card-content",
                    rows: [
                        {
                            key: { text: "Case reference number" },
                            value: { text: courtAppearance.caseReferenceNumber if courtAppearance.caseReferenceNumber else 'Not entered' },
                            classes: "offences-summary-card-court-details-row"
                        },
                        {
                            key: { text: "Court name" },
                            value: { text: courtAppearanceCourtName },
                            classes: "offences-summary-card-court-details-row"
                        },
                        {
                            key: { text: "Warrant date" },
                            value: { text: courtAppearance.warrantDate | formatDate},
                            classes: "offences-summary-card-court-details-row"
                        }
                    ],
                    attributes: {
                        'data-qa': 'appearanceDetails'
                    }
                }) }}
            </div>
        </div>
    </div>
{% endblock %}