{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}

{% for offence in offences %}
    {% set offenceId = 'offences.' + offence.index %}
    {% set multipleCountLinkHtml %}
        <a href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{appearanceReference }}/offences/{{offence.chargeUuid }}/load-replicate-offence" data-qa="add-multiple-count-link-{{offence.index}}">Add multiple counts</a>
    {% endset %}
    {{ offenceCard(offence | offenceToOffenceCard(offenceId, offenceMap, outcomeMap, consecutiveToSentenceMap, sentenceTypeMap, {}, errors, {
        actions: {
            items: [
                {
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference +"/offences/" + offence.chargeUuid + "/load-edit-offence",
                    text: "Edit",
                    visuallyHiddenText: "edit offence",
                    attributes: {
                        'data-qa': 'edit-offence-link-' + offence.chargeUuid
                    }
                },
                {
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference +"/offences/" + offence.chargeUuid + "/delete-offence",
                    text: "Delete",
                    visuallyHiddenText: "delete offence"
                }
            ]
        },
        listItems: {
            classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-2',
            items: [{
                html: multipleCountLinkHtml
            }] if showAddMultipleCountsLink
        }
    }) }}
{% else %}
    {{ govukInsetText({
                text: "No offences have been added to this appearance."
    }) }}
{% endfor %}
