{% extends "./prisonerBannerLayout.njk" %}

{% block subNavigation %}{% endblock %}

{% block content %}
    {{ super() }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-margin-top-2">
                <a href="/person/{{ nomsId }}/{{addOrEditCourtCase}}/{{courtCaseReference}}/{{addOrEditCourtAppearance}}/{{ appearanceReference }}/task-list"
                   class="govuk-link govuk-body-m"
                   data-qa="return-to-appearance-link">
                  Go back to court hearing
                </a>
            </div>
        </div>
    </div>
{% endblock %}
