{% extends "./prisonerBannerLayout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block subNavigation %}
        <div class="govuk-grid-row" role="navigation">
            {% if backLink.length %}
                <div class="govuk-grid-column-one-half">
                    {{ govukBackLink({
                        text: "Back",
                        href: backLink,
                        attributes: {  'data-qa': 'back-link' }
                    }) }}
                </div>
            {% endif %}
        </div>
{% endblock %}
