{% extends "govuk/template.njk" %}
{% from "../components/prisonerBanner/macro.njk" import prisonerBanner %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  <!--[if lt IE 9]>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
  <![endif]-->

  <script src="/assets/js/jquery.min.js"></script> 
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          nonce="{{ cspNonce }}"
          crossorigin="anonymous"></script>
  <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" nonce="{{ cspNonce }}" crossorigin>

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

 {% block main %}
   <main class="govuk-main-wrapper app-container govuk-body" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
   <div class="govuk-width-container">
     {% block beforeContent %}{% endblock %}

       {% block title %}
         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">
             <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-7">
               {{ prisonerDetails.firstName + ' ' + prisonerDetails.lastName }}'s court cases
             </h1>
           </div>
         </div>
       {% endblock %}
       {% block banner %}
            {{
            prisonerBanner({
              firstName: prisonerDetails.firstName,
              lastName: prisonerDetails.lastName,
              offenderNo: prisonerDetails.offenderNo,
              onRemand: prisonerDetails.legalStatus === 'REMAND',
              establishment: prisonerDetails.assignedLivingUnit.agencyName,
              cellNumber: prisonerDetails.assignedLivingUnit.description
            })
            }}
       {% endblock %}
       {% block content %}{% endblock %}
    </div>
   </main>
 {% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
{% endblock %}
