{% extends "govuk/template.njk" %}
{% from "hmpps/components/court-cases-release-dates/service-header/macro.njk" import serviceHeader %}
{% from "hmpps/components/court-cases-release-dates/footer/macro.njk" import footer %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>

  <script src="/assets/js/jquery.min.js"></script>
  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
  {{ 
      serviceHeader({
      environment: environment,
      prisonNumber: prisoner.prisonerNumber
    })
  }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {{ footer({environment: environment}) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}

  <script src="/assets/govukFrontendInit.js" type="module"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
  {% if feComponents.jsIncludes %}
      {% for js in feComponents.jsIncludes %}
        <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
      {% endfor %}
    {% endif %}
  {% block javascripts %}
    {% endblock %}
{% endblock %}
