
<span class="govuk-caption-l">
    {% if offence.sentence.countNumber %}
        Add sentence information for count {{ offence.sentence.countNumber }}
    {% elif isAddCourtCase %}
        Add a court case
    {% else %}
        Add an appearance to court case
    {% endif %}
</span>