{% extends "./layout.njk" %}
{% from "../components/prisonerBanner/macro.njk" import prisonerBanner %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}


{% block main %}
    <main class="govuk-main-wrapper app-container govuk-body" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-width-container">
            {% block beforeContent %}{% endblock %}
            {% block banner %}
                {{
                prisonerBanner({
                    firstName: prisoner.firstName,
                    lastName: prisoner.lastName,
                    offenderNo: prisoner.prisonerNumber,
                    establishment: prisoner.prisonName,
                    cellNumber: prisoner.cellLocation,
                    dateOfBirth: prisoner.dateOfBirth,
                    pncNumber: prisoner.pncNumber,
                    status: prisoner.status,
                    digitalPrisonServicesUrl: digitalPrisonServicesUrl
                })
                }}
            {% endblock %}

            {{ mojSubNavigation({
                label: 'Sub navigation',
                items: [{
                    text: 'Dashboard',
                    href: '#'
                }, {
                    text: 'Release dates',
                    href: calculateReleaseDatesUIUrl
                }, {
                    text: 'Court cases',
                    href: '/',
                    active: true
                }, {
                    text: 'Adjustments',
                    href: adjustmentsUIUrl
                }, {
                    text: 'Documents',
                    href: '#'
                }, {
                    text: 'Timeline',
                    href: '#'
                }]
            }) }}

            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}