{% extends "./prisonerBannerLayout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block subNavigation %}
        <div class="govuk-grid-row" role="navigation">
            {% if backLink.length %}
                <div class="govuk-grid-column-one-half">
                    {{ govukBackLink({
                        text: "Back",
                        href: backLink,
                        attributes: {  'data-qa': 'back-link' }
                    }) }}
                </div>
            {% endif %}
            <div class="{{'govuk-grid-column-one-half' if backLink.length else 'govuk-grid-column-full'}} govuk-!-text-align-right"><a href="/person/{{ nomsId }}" class="govuk-link govuk-link--no-visited-state govuk-body-s">Go to Court cases</a></div>
        </div>
{% endblock %}

class="govuk-link "
