{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Check your answers" %}
{% set isAddOffences = true %}
{% set summaryRows = [
    {
        key: {
        text: "Is there an overall sentence length on the warrant?"
    },
        value: {
        text: "Yes" if courtAppearance.hasOverallSentenceLength === 'true' else 'No'
    },
        actions: {
        items: [
            {
                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/sentencing/overall-sentence-length?submitToCheckAnswers=true",
                text: "Edit",
                visuallyHiddenText: "is there an overall sentence length on the warrant"
            }
        ]
    }
    },
    {
        key: {
        text: "Overall sentence length"
    },
        value: {
        text: courtAppearance.overallSentenceLength | formatLengths if courtAppearance.overallSentenceLength else 'Not entered'
    },
        actions: {
        items: [
            {
                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/sentencing/overall-sentence-length?submitToCheckAnswers=true",
                text: "Edit",
                visuallyHiddenText: "overall sentence length"
            }
        ]
    }
    },
    {
        key: {
        text: "Is the conviction date the same for all offences on the warrant?"
    },
        value: {
        text: "Yes" if courtAppearance.overallConvictionDateAppliedAll === 'true' else 'No'
    },
        actions: {
        items: [
            {
                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/sentencing/overall-conviction-date?submitToCheckAnswers=true",
                text: "Edit",
                visuallyHiddenText: "conviction date the same for all offences on the warrant"
            }
        ] if courtAppearance.warrantInformationAccepted !== true
    }
    },
    {
        key: {
        text: "Conviction date"
    },
        value: {
        text: courtAppearance.overallConvictionDate | formatDate if courtAppearance.overallConvictionDate else 'Not entered'
    },
        actions: {
        items: [
            {
                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/sentencing/overall-conviction-date?submitToCheckAnswers=true",
                text: "Edit",
                visuallyHiddenText: "conviction date"
            }
        ] if courtAppearance.warrantInformationAccepted !== true
    }
    }
] %}

{% if isAddJourney %}
    {% set summaryRows = summaryRows.concat([
        {
            key: {
            text: "Is the outcome the same for all offences on the warrant?"
        },
            value: {
            text: "Yes" if courtAppearance.caseOutcomeAppliedAll === 'true' else 'No'
        }
        }
    ]) %}
{% endif %}

{% block pageContent %}
    <span class="govuk-caption-l" data-qa="warrant-information-caption">
        Add overall warrant information
    </span>

    <h1 class="govuk-heading-l">
        Check your answers
    </h1>

    {{ govukSummaryList({
        rows: summaryRows,
        attributes: {
            "data-qa": "check-overall-answers-summary-list"
        }
    }) }}


    <div class="govuk-button-group govuk-!-margin-top-8">
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <div class="govuk-button-group">
                <button type="submit"
                        class="govuk-button"
                        data-module="govuk-button"
                        data-qa="confirm-and-continue"
                        formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/sentencing/submit-check-overall-answers">
                    Confirm and continue
                </button>
            </div>
        </form>
    </div>

{% endblock %}
