{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Add a sentencing court case outcome" %}
{% set hideOffences = true %}

{% set fieldSetHtml %}
    <h1 class="govuk-fieldset__heading{% if legacyCaseOutcome %} govuk-!-static-margin-bottom-3{% endif %}">{% if isAddCourtAppearance%}Select the overall case outcome{%else%}Edit the overall case outcome{%endif%}</h1>
    {% if legacyCaseOutcome%}
    <p class="govuk-body-l govuk-!-static-margin-bottom-3" data-qa="legendParagraph">{{ legacyCaseOutcome }}</p>
    {% endif %}
{% endset %}

{% set radiosData = {
                    id: "overallCaseOutcome",
                    errorMessage: errors | findError('overallCaseOutcome'),
                    name: "overallCaseOutcome",
                    fieldset: {
                        legend: {
                            html: fieldSetHtml,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: []
    } %}

{% for caseOutcome in mainOutcomes %}
    {% set caseOutcomeValue = caseOutcome.outcomeUuid + '|' + caseOutcome.relatedChargeOutcomeUuid %}
    {%- set caseOutcomeRow = {
        value: caseOutcomeValue,
        text: caseOutcome.outcomeName,
        checked: caseOutcomeValue === overallCaseOutcomeForm.overallCaseOutcome
    } -%}
    {{ radiosData.items.push(caseOutcomeRow) }}
{% endfor %}

{% if subListOutcomes.length %}
    {{ radiosData.items.push({ divider: "or"}) }}

    {% for caseOutcome in subListOutcomes %}
         {% set caseOutcomeValue = caseOutcome.outcomeUuid + '|' + caseOutcome.relatedChargeOutcomeUuid %}
         {%- set caseOutcomeRow = {
                value: caseOutcomeValue,
                text: caseOutcome.outcomeName,
                checked: caseOutcomeValue === overallCaseOutcomeForm.overallCaseOutcome
            } -%}
            {{ radiosData.items.push(caseOutcomeRow) }}
    {% endfor %}
{% endif %}

{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/sentencing/submit-overall-case-outcome{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/overallWarrantInformationCaption.njk" %}

                {{ govukRadios(radiosData) }}

                {{ govukButton({
                    text: "Continue",
                    attributes: {  'data-qa': 'continue-button' }
                }) }}
            </form>

        </div>
    </div>

{% endblock %}