{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set yesHtml %}
  {{ govukDateInput({
    id: "sentenceLength",
    namePrefix: "sentenceLength",
    errorMessage: errors | findErrorsBeginningWith('sentenceLength'),
    fieldset: {
      legend: {
        text: "Enter the overall sentence length",
        classes: "govuk-label govuk-!-font-weight-bold"
      }
    },
    items: [
      {
        id: "sentenceLength-years",
        name: "years",
        label: "Years",
        classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('sentenceLength-years') else ''),
        value: overallSentenceLengthForm["sentenceLength-years"]
      },
      {
        id: "sentenceLength-months",
        name: "months",
        label: "Months",
        classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('sentenceLength-months') else ''),
        value: overallSentenceLengthForm["sentenceLength-months"]
      },
      {
        id: "sentenceLength-weeks",
        name: "weeks",
        label: "Weeks",
        classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('sentenceLength-weeks') else ''),
        value: overallSentenceLengthForm["sentenceLength-weeks"]
      },
      {
        id: "sentenceLength-days",
        name: "days",
        label: "Days",
        classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('sentenceLength-days') else ''),
        value: overallSentenceLengthForm["sentenceLength-days"]
      }
    ]
  }) }}
{% endset %}

{% set pageTitle = applicationName + " - Add overall sentence length" %}

{% block pageContent %}
    {{ super() }}
    <form method="post"
          action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/sentencing/submit-overall-sentence-length{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% include "../../partials/overallWarrantInformationCaption.njk" %}

        {{ govukRadios({
            name: "hasOverallSentenceLength",
            value: overallSentenceLengthForm["hasOverallSentenceLength"],
            hint: {
                text: "Select one option."
            },
            fieldset: {
                legend: {
                    text: "Is there an overall sentence length on the warrant?",
                    classes: "govuk-fieldset__legend--l",
                    isPageHeading: true
                }
            },
            errorMessage: errors | findError('hasOverallSentenceLength'),
            items: [{
                value: "true",
                text: "Yes",
                checked: overallSentenceLengthForm.hasOverallSentenceLength === 'true',
                conditional: {
                    html: yesHtml
                }
            },
                {
                    value: "false",
                    checked: overallSentenceLengthForm.hasOverallSentenceLength === 'false',
                    text: "No"
                }]
        }) }}

        <div class="govuk-button-group">
            {{ govukButton({
                text: "Continue",
                attributes: {  'data-qa': 'continue-button' }
            }) }}
            {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
        </div>

    </form>
{% endblock %}
