{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}



{% set yesHtml %}
    {{ govukDateInput({
        id: "overall-conviction-date",
        namePrefix: "overallConvictionDate",
        errorMessage: errors | findErrorsBeginningWith('overallConvictionDate'),
        fieldset: {
            legend: {
                text: "Enter the conviction date",
                classes: "govuk-label govuk-!-font-weight-bold"
            }
        },
        items: [
            {
                id: 'overallConvictionDate-day',
                classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('overallConvictionDate-day') else ''),
                name:"day",
                value: overallConvictionDateDay
            },
            {
                id: 'overallConvictionDate-month',
                classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('overallConvictionDate-month') else ''),
                name:"month",
                value: overallConvictionDateMonth
            },
            {
                id: 'overallConvictionDate-year',
                classes: "govuk-input--width-4" + (" govuk-input--error" if errors | findError('overallConvictionDate-year') else ''),
                name:"year",
                value: overallConvictionDateYear
            }
        ]
    }) }}
{% endset %}

{% set pageTitle = applicationName + " - Add a court case Overall conviction Date" %}

{% block pageContent %}
    {{ super() }}
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/sentencing/submit-overall-conviction-date{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/overallWarrantInformationCaption.njk" %}

                {{ govukRadios({
                    name: "overallConvictionDateAppliedAll",
                    fieldset: {
                        legend: {
                            text: "Is the conviction date the same for all offences on the warrant?",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: govukInsetText({
                                text: "This is not always the same as the sentencing date. You can find the conviction date on the Prison court register.",
                                classes: "govuk-!-margin-top-3",
                                attributes: {  'data-qa': 'hintInset' }
                            })
                    },
                    errorMessage: errors | findError('overallConvictionDateAppliedAll'),
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: overallConvictionDateAppliedAll === 'true',
                            conditional: {
                            html: yesHtml
                        }
                        },
                        {
                            value: "false",
                            checked: overallConvictionDateAppliedAll === 'false',
                            text: "No"
                        }
                    ]
                }) }}



                {{ govukButton({
                    text: "Continue",
                    attributes: {  'data-qa': 'continue-button' }
                }) }}
            </form>

{% endblock %}
