{% extends "../../partials/backLinkLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - You cannot mark a case with active sentences as inactive" %}

{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l" data-qa="cannot-mark-court-case-as-inactive-heading">You cannot mark a case with active sentences as inactive</h1>
            <p class="govuk-body">A case with active sentences cannot be marked as inactive.</p>
            <p class="govuk-body">You need to inactivate all sentences in this case in order to mark the case as inactive.</p>

            <h2 class="govuk-heading-m">What to do next</h2>
            <p class="govuk-body">Edit the sentences on the latest court hearing to make them inactive. Then come back and try again.</p>

            {{ govukButton({
                text: "Cancel and go back",
                classes: "govuk-button--secondary",
                href: backLink,
                attributes: { 'data-qa': 'cancel-and-go-back-button' }
            }) }}

        </div>
    </div>
{% endblock %}
