{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}



{% set pageTitle = applicationName + " - Add a court case court name" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l">Add a court case</span>
                <h1 class="govuk-heading-l">Check your answers</h1>

                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Court case reference number"
                        },
                            value: {
                            text: courtCase.referenceNumber
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/court-cases/reference?submitToCheckAnswers=true",
                                    text: "Change",
                                    visuallyHiddenText: "court case reference number"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Warrant date"
                        },
                            value: {
                            text: courtCase.warrantDate
                        },
                            actions: {
                            items: [
                                {
                                    href: "#",
                                    text: "Change",
                                    visuallyHiddenText: "warrant date"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Court name"
                        },
                            value: {
                            text: courtCase.courtName
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/court-cases/court-name?submitToCheckAnswers=true",
                                    text: "Change",
                                    visuallyHiddenText: "court name"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Next court date"
                        },
                            value: {
                            text: courtCase.nextCourtDate
                        },
                            actions: {
                            items: [
                                {
                                    href: "#",
                                    text: "Change",
                                    visuallyHiddenText: "next court date"
                                }
                            ]
                        }
                        }

                    ]
                }) }}

            <h2 class="govuk-heading-m">Now save this court case</h2>
            <p class="govuk-body">By saving this court case you are confirming that, to the best of your knowledge, the details you are providing are correct according to the warrant.</p>

            <form method="post" action="/person/{{ nomsId }}/court-cases/submit-check-answers">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {{ govukButton({
                    text: "Save court case"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}