{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}


{% set pageTitle = applicationName + " - Add a court case Warrant Date" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/court-cases/submit-warrant-date">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <span class="govuk-caption-l">Add a court case</span>
                {{ govukDateInput({
                    id: "warrant-date",
                    namePrefix: "warrantDate",
                    fieldset: {
                        legend: {
                            text: "Enter the warrant date",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    }
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}