This is a <strong>standard recall under section 255A of the Criminal Justice Act 2003</strong>, typically used when:
<ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
    <li>the person has failed to comply with the curfew condition included in their licence, or</li>
    <li>their whereabouts can no longer be electronically monitored at the specified curfew address.</li>
</ul>