{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Cancel adding court case" %}

{% block subNavigation %}
    <div class="govuk-grid-row" role="navigation">
        {% if backLink.length %}
            <div class="govuk-grid-column-one-half">
                {{ govukBackLink({
                    text: "Back",
                    href: backLink,
                    attributes: {  'data-qa': 'back-link' }
                }) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">

            <form method="post" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <h1 class="govuk-heading-l">
                  {{ model.getHeader() }}
                </h1>

                    <div class="govuk-body" data-qa="cancel-court-case-description">{{ model.getDescription() }}</div>

                    {{ govukRadios({
                                        name: "cancelCourtCase",
                                        fieldset: {
                                            legend: {
                                            text: model.getHeader(),
                                                classes: "govuk-fieldset__legend--s"
                                            }
                                        },
                                        errorMessage:  errors | findError('cancelCourtCase'),
                                        items: [
                                            {
                                                value: "true",
                                                text: model.getPositiveRadioText()
                                            },
                                            {
                                                value: "false",
                                                text: model.getNegativeRadioText()
                                            }
                                        ]
                                    }) }}

                    {{ govukButton({
                        text: "Continue",
                        attributes: {  'data-qa': 'continue-button' }
                    }) }}
            </form>
        </div>
    </div>
{% endblock %}
