{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Add a court case Outcome applied to all" %}
{% set fieldSetHtml %}
    <h1 class="govuk-fieldset__heading">Does the outcome apply to all offences on the warrant?</h1>
    <p class="govuk-body-l">{{ overallCaseOutcome }}</p>
{% endset %}
{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/submit-case-outcome-applied-all">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/appearanceCaption.njk" %}
                {{ govukRadios({
                    name: "caseOutcomeAppliedAll",
                    fieldset: {
                        legend: {
                            html: fieldSetHtml,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: caseOutcomeAppliedAll === true
                        },
                        {
                            value: "false",
                            text: "No",
                            checked: caseOutcomeAppliedAll === false
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}