{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set checkAnswersRows = [
                        {
                            key: {
                            text: "Case reference"
                        },
                            value: {
                            text: courtAppearance.caseReferenceNumber
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/reference?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "case reference number"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Warrant date"
                        },
                            value: {
                            text: courtAppearance.warrantDate | formatDate
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/warrant-date?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "warrant date"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Court name"
                        },
                            value: {
                            text: courtName
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/court-name?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "court name"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Overall case outcome"
                        },
                            value: {
                            text: overallCaseOutcome
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/overall-case-outcome?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "overall case outcome"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Outcome applies to all offences"
                        },
                            value: {
                            text: "Yes" if courtAppearance.caseOutcomeAppliedAll == 'true' else "No"
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/case-outcome-applied-all?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "edit outcome applies to all offences"
                                }
                            ]
                        }
                        }
                    ] %}

{% if courtAppearance.warrantType === 'SENTENCING' %}
    {% set checkAnswersRows = (checkAnswersRows.push({
                            key: {
                            text: "Tagged bail"
                        },
                            value: {
                            text: courtAppearance.taggedBail + " days" if courtAppearance.taggedBail else "None"
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/tagged-bail?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "edit tagged bail"
                                }
                            ]
                        }
                        }), checkAnswersRows)%}
{% endif %}

{% set pageTitle = applicationName + " - Check court appearance answers" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
                {% include "../../partials/appearanceCaption.njk" %}
                <h1 class="govuk-heading-l">Check your answers</h1>

                {{ govukSummaryList({
                    rows: checkAnswersRows
                }) }}

            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-check-answers">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {{ govukButton({
                    text: "Confirm and continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}