{% extends "../../partials/goToCourtHearingLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - Check next appearance answers" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            {% include "../../partials/nextAppearanceCaption.njk" %}
            <h1 class="govuk-heading-l">Check your answers</h1>

            {% if courtAppearance.nextAppearanceSelect %}
                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Next appearance type"
                        },
                            value: {
                            text: nextAppearanceType
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-appearance-type?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "next appearance type"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Next appearance date"
                        },
                            value: {
                            text: courtAppearance.nextAppearanceDate | formatDateTime(courtAppearance.nextAppearanceTimeSet)
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-appearance-date?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "next appearance date"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Next appearance location"
                        },
                            value: {
                            text: nextAppearanceCourtName
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-appearance-court-select?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "next appearance location"
                                }
                            ]
                        }
                        }
                    ]
                }) }}
            {% else %}
                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Next court date set"
                        },
                            value: {
                            text: "Date to be fixed"
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-appearance-select?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "next court date set"
                                }
                            ]
                        }
                        }
                    ]
                }) }}
            {% endif %}

            <form method="post" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="govuk-button-group">
                    <button type="submit"
                            class="govuk-button"
                            data-module="govuk-button"
                            data-qa="continue-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-check-next-appearance-answers">
                        Confirm and continue
                    </button>
                    {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
                </div>
            </form>

        </div>
    </div>
    {{ super() }}
{% endblock %}
