{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set isRemandWarrant = courtAppearance.warrantType == 'REMAND'%}
{% set warrantOrAppearance = 'Appearance' if courtAppearance.warrantType === 'NON_CUSTODIAL' else 'Hearing' %}
{% set checkAnswersRows = [
    {
        key: {
            text: "Warrant type"
        },
        value: {
            text: courtAppearance.warrantType | capitalize
        }
    },
    {
        key: {
            text: "Case reference"
        },
        value: {
            text: courtAppearance.caseReferenceNumber if courtAppearance.caseReferenceNumber else 'Not entered'
        },
        actions: {
            items: [
                {
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/reference?submitToCheckAnswers=true",
                    text: "Edit",
                    visuallyHiddenText: "case reference"
                }
            ]
        }
    },
    {
        key: {
            text: warrantOrAppearance + " date"
        },
        value: {
            text: courtAppearance.warrantDate | formatDate
        },
        actions: {
            items: [
                {
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/warrant-date?submitToCheckAnswers=true",
                    text: "Edit",
                    visuallyHiddenText: warrantOrAppearance + " date",
                    attributes: {
                        "data-qa": "edit-warrant-date-link"
                    }
                } if courtAppearance.appearanceInformationAccepted !== true or isRemandWarrant
            ]
        }
    },
    {
        key: {
            text: "Court name"
        },
        value: {
            text: courtName
        },
        actions: {
            items: [
                {
                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/court-name?submitToCheckAnswers=true",
                    text: "Edit",
                    visuallyHiddenText: "court name"
                }
            ]
        }
    }
] %}

{% if courtAppearance.warrantType !== 'SENTENCING' %}
    {% set checkAnswersRows = checkAnswersRows.concat([
        {
            key: {
                text: "Overall case outcome"
            },
            value: {
                text: overallCaseOutcome
            },
            actions: {
                items: [
                    {
                        href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/overall-case-outcome?backTo=checkAppearanceAnswers&submitToCheckAnswers=true",
                        text: "Edit",
                        visuallyHiddenText: "overall case outcome"
                    }
                ] if courtAppearance.appearanceInformationAccepted !== true
            }
        }
    ]) %}
{% endif %}

{% set pageTitle = applicationName + " - Check court appearance answers" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            {% include "../../partials/hearingCaption.njk" %}
            <h1 class="govuk-heading-l">Check your answers</h1>

            {{ govukSummaryList({
                rows: checkAnswersRows
            }) }}

            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-check-answers" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {{ govukButton({
                    text: "Confirm and continue",
                    attributes: {  'data-qa': 'continue-button' }
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
