{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Check next hearing answers" %}

{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            {% include "../../partials/nextAppearanceCaption.njk" %}
            <h1 class="govuk-heading-l">Check your answers</h1>

            {% if courtAppearance.nextHearingSelect %}
                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Next hearing type"
                        },
                            value: {
                            text: nextHearingAppearanceType
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-hearing-type?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "next hearing type"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Next hearing date"
                        },
                            value: {
                            text: courtAppearance.nextHearingDate | formatDateTime(courtAppearance.nextHearingTimeSet)
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-hearing-date?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "next hearing date"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Next hearing location"
                        },
                            value: {
                            text: nextHearingCourtName
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-hearing-court-select?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "next hearing location"
                                }
                            ]
                        }
                        }
                    ]
                }) }}
            {% else %}
                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Next court date set"
                        },
                            value: {
                            text: "Date to be fixed"
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" +courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/next-hearing-select?submitToCheckAnswers=true",
                                    text: "Edit",
                                    visuallyHiddenText: "next court date set"
                                }
                            ]
                        }
                        }
                    ]
                }) }}
            {% endif %}

            <form method="post" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="govuk-button-group">
                    <button type="submit"
                            class="govuk-button"
                            data-module="govuk-button"
                            data-qa="continue-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-check-next-hearing-answers">
                        Confirm and continue
                    </button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}