{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}



{% set pageTitle = applicationName + " - Add a court case court name" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l">Add a court case</span>
                <h1 class="govuk-heading-l">Check your answers</h1>

                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Court case reference number"
                        },
                            value: {
                            text: courtAppearance.caseReferenceNumber
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/court-cases/" + courtCaseReference + "/reference?submitToCheckAnswers=true",
                                    text: "Change",
                                    visuallyHiddenText: "court case reference number"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Court name"
                        },
                            value: {
                            text: courtAppearance.courtName
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/court-cases/" + courtCaseReference + "/court-name?submitToCheckAnswers=true",
                                    text: "Change",
                                    visuallyHiddenText: "court name"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Warrant date"
                        },
                            value: {
                            text: courtAppearance.warrantDate | formatDate
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/court-cases/" + courtCaseReference + "/warrant-date?submitToCheckAnswers=true",
                                    text: "Change",
                                    visuallyHiddenText: "warrant date"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Overall case outcome"
                        },
                            value: {
                            text: courtAppearance.overallCaseOutcome
                        },
                            actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/court-cases/" + courtCaseReference + "/overall-case-outcome?submitToCheckAnswers=true",
                                    text: "Change",
                                    visuallyHiddenText: "overall case outcome"
                                }
                            ]
                        }
                        }

                    ]
                }) }}

            <h2 class="govuk-heading-m">Now add the offences for this appearance</h2>
            <p class="govuk-body">You will need to enter all of the offence information from the warrant.</p>

            <form method="post" action="/person/{{ nomsId }}/court-cases/{{courtCaseReference}}/submit-check-answers">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {{ govukButton({
                    text: "Confirm and continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}