{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}



{% set pageTitle = applicationName + " - Add a court case court name" %}

{% block pageContent %}
    {{ super() }}
    <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-court-name{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="courtCode" id="court-code" value="{{courtNameForm.courtCode}}">
        {% include "../../partials/hearingCaption.njk" %}
        {{ govukSelect({
            label: {
                text: "What is the court name?" if isAddCourtAppearance else "Edit the court name",
                classes: "govuk-label--l",
                isPageHeading: true
            },
            hint: {
                text: "Start typing the name of the court from the warrant."
            },
            id: "court-name",
            name: "courtName",
            errorMessage: errors | findError('courtCode'),
            items: []
        }) }}

        {{ govukButton({
            text: "Continue",
            attributes: {  'data-qa': 'continue-button' }
        }) }}
    </form>
{% endblock %}

{% block javascripts %}
    <script src="/assets/accessible-autocomplete.min.js"></script>
    <script id="autocomplete-script" src="/assets/js/autoCompleteCourtName.js" data-court="{{ courtNameForm.courtName if courtNameForm.courtName else '' }}"></script>
{% endblock %}
