{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% set pageTitle = applicationName + " - Delete an appearance" %}

{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ appearanceReference }}/submit-delete-appearance" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {% call govukFieldset({
                        legend: {
                            text: "Are you sure you want to delete this appearance?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                }) %}
                    <div class="govuk-body l"> {{description }} </div>

                    {% if lastAppearance %}
                                              {{ govukInsetText({
                                                text: "By deleting this appearance, you will be removing the court case from this person's record."
                                              }) }}
                                            {% endif %}

                    <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Yes, delete appearance",
                        classes: "govuk-button--warning",
                        attributes: {  'data-qa': 'delete-button' }
                    }) }}
                    <a class="govuk-link" href="/person/{{nomsId}}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/details">Cancel and go back</a>
                {% endcall %}
            </form>
        </div>
    </div>
{% endblock %}