{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Confirm Delete Document" %}
{% set fieldSetHtml %}
    <h1 class="govuk-fieldset__heading govuk-!-static-margin-bottom-3">Are you sure you want to delete this document?</h1>
    <p class="govuk-body"><a href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/{{ document.documentId }}/download-document" target="_blank" class="govuk-link">{{ document.fileName }}</a></p>
{% endset %}
{% block pageContent %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/{{ document.documentId }}/submit-delete-document">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukRadios({
                    name: "deleteDocument",
                    fieldset: {
                        legend: {
                             html: fieldSetHtml,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    errorMessage:  errors | findError('deleteDocument'),
                    items: [
                        {
                            value: "true",
                            text: "Yes"
                        },
                        {
                            value: "false",
                            text: "No"
                        }
                    ]
                }) }}


                {{ govukButton({
                    text: "Continue",
                    attributes: {  'data-qa': 'continue-button' }
                }) }}
            </form>
        </div>
    </div>
{% endblock %}