{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - Upload a document" %}
{% block pageContent %}
            <form method="post" enctype="multipart/form-data" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/{{documentType}}/submit-upload-documents" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/uploadDocumentsCaption.njk" %}
                {{ govukFileUpload({
                    id: "document-upload",
                    name: "documentUpload",
                    errorMessage: errors,
                    label: {
                        text: "Upload the "+documentName,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    },
                    hint: {
                        text: "You can upload .pdf, .jpg, .png, .doc or .docx files."
                    },
                    attributes: {
                        accept: "image/*,.pdf, .doc,.docx"
                    }
                }) }}

                <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Continue",
                                attributes: {  'data-qa': 'continue-button' }
                            }) }}
                            {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
                </div>
            </form>
{% endblock %}
