{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Next hearing type" %}
{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-next-hearing-type{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/appearanceCaption.njk" %}
                {{ govukRadios({
                    name: "nextHearingType",
                    fieldset: {
                        legend: {
                        text: "How will they attend the hearing?" if isAddCourtAppearance else "Edit the next hearing type",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "Court appearance",
                            text: "Court appearance",
                            checked: nextHearingTypeForm.nextHearingType === "Court appearance"
                        },
                        {
                            value: "Video link",
                            text: "Video link",
                            checked: nextHearingTypeForm.nextHearingType === "Video link"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}