{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Next hearing been set" %}
{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/court-cases/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/submit-next-hearing-select">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <span class="govuk-caption-l">
                    {% if isFirstAppearance %}
                        Add a court case
                        {% else %}
                        Add an appearance to court case {{courtCaseUniqueIdentifier}}
                    {% endif %}
                </span>
                {{ govukRadios({
                    name: "nextHearingSelect",
                    fieldset: {
                        legend: {
                        text: "Has the next hearing been set?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes, it has been set",
                            checked: nextHearingSelect === true
                        },
                        {
                            value: "false",
                            text: "No, date to be fixed",
                            checked: nextHearingSelect === false
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}