{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Add a court case Next court select" %}
{% set fieldSetHtml %}
    <h1 class="govuk-fieldset__heading govuk-!-static-margin-bottom-3">Is the next appearance at the same court?</h1>
    <p class="govuk-body-l govuk-!-static-margin-bottom-3">{{ courtName }}</p>
{% endset %}
{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-next-hearing-court-select{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/appearanceCaption.njk" %}
                {{ govukRadios({
                    name: "nextHearingCourtSelect",
                    fieldset: {
                        legend: {
                            html: fieldSetHtml,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: nextHearingCourtSelectForm.nextHearingCourtSelect === true
                        },
                        {
                            value: "false",
                            text: "No",
                            checked: nextHearingCourtSelectForm.nextHearingCourtSelect === false
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}