{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}



{% set pageTitle = applicationName + " - Add a court case next hearing court name" %}

{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-next-hearing-court-name{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="courtCode" id="court-code" value="{{nextHearingCourtNameForm.courtCode}}">
                {% include "../../partials/nextAppearanceCaption.njk" %}
                {{ govukSelect({
                    label: {
                        text: "What court is the next hearing at?"  if isAddCourtAppearance else "Edit next court hearing location",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Search for a court name, address, town or city."
                    },
                    id: "next-hearing-court-name",
                    name: "nextHearingCourtName",
                    errorMessage: errors | findError('courtCode'),
                    items: []
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/assets/accessible-autocomplete.min.js"></script>
    <script id="autocomplete-script" src="/assets/js/autoCompleteNextHearingCourtName.js" data-next-hearing-court-name="{{ nextHearingCourtNameForm.nextHearingCourtName if nextHearingCourtNameForm.nextHearingCourtName else '' }}"></script>
{% endblock %}