{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - Add a court case next appearance court name" %}

{% block pageContent %}
    {{ super() }}
    <form method="post" autocomplete="off" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-next-appearance-court-name{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="courtCode" id="court-code" value="{{nextAppearanceCourtNameForm.courtCode}}">
        {% include "../../partials/nextAppearanceCaption.njk" %}
        {{ govukSelect({
            label: {
                text: "What court is the next appearance at?"  if isAddCourtAppearance else "Edit next court appearance location",
                classes: "govuk-label--l",
                isPageHeading: true
            },
            hint: {
                text: "Start typing the name of the court"
            },
            id: "next-appearance-court-name",
            name: "nextAppearanceCourtName",
            errorMessage: errors | findError('courtCode'),
            items: []
        }) }}

        <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        attributes: {  'data-qa': 'continue-button' }
                    }) }}
                    {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    <script src="/assets/accessible-autocomplete.min.js"></script>
    <script id="autocomplete-script" src="/assets/js/autoCompleteNextAppearanceCourtName.js" data-next-appearance-court-name="{{ nextAppearanceCourtNameForm.nextAppearanceCourtName if nextAppearanceCourtNameForm.nextAppearanceCourtName else '' }}"></script>
{% endblock %}
