{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - Add a court case Next court select" %}
{% set fieldSetHtml %}
    <h1 class="govuk-fieldset__heading govuk-!-static-margin-bottom-3">Is the next appearance at the same court?</h1>
    <p class="govuk-body-l govuk-!-static-margin-bottom-3">{{ courtName }}</p>
{% endset %}
{% block pageContent%}
    {{ super() }}
            <form method="post" autocomplete="off" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-next-appearance-court-select{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/nextAppearanceCaption.njk" %}
                {{ govukRadios({
                    name: "nextAppearanceCourtSelect",
                    fieldset: {
                        legend: {
                            html: fieldSetHtml,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: nextAppearanceCourtSelectForm.nextAppearanceCourtSelect === true
                        },
                        {
                            value: "false",
                            text: "No",
                            checked: nextAppearanceCourtSelectForm.nextAppearanceCourtSelect === false
                        }
                    ]
                }) }}

                <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Continue",
                                attributes: {  'data-qa': 'continue-button' }
                            }) }}
                            {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
                </div>
            </form>

{% endblock %}
