{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Add a court case Next Court Date" %}

{% block pageContent %}
    {{ super() }}
    <form method="post" autocomplete="off" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-next-appearance-date{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% include "../../partials/nextAppearanceCaption.njk" %}

        {% call govukFieldset({
            legend: {
                text: "Enter the date of the next court appearance" if isAddCourtAppearance else "Edit the date of the next court appearance",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        }) %}

            {{ govukDateInput({
                id: "next-appearance-date",
                namePrefix: "nextAppearanceDate",
                errorMessage: errors | findErrorsBeginningWith('nextAppearanceDate'),
                fieldset: {
                    legend: {
                        text: "Next court date",
                        classes: "govuk-label--s govuk-!-font-weight-bold"
                    }

                },
                items: [
                    {
                        id: 'nextAppearanceDate-day',
                        classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('nextAppearanceDate-day') else ''),
                        name:"day",
                        value: nextAppearanceDateDay
                    },
                    {
                        id: 'nextAppearanceDate-month',
                        classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('nextAppearanceDate-month') else ''),
                        name:"month",
                        value: nextAppearanceDateMonth
                    },
                    {
                        id: 'nextAppearanceDate-year',
                        classes: "govuk-input--width-4" + (" govuk-input--error" if errors | findError('nextAppearanceDate-year') else ''),
                        name:"year",
                        value: nextAppearanceDateYear
                    }
                ]
            }) }}

            {{ govukInput({
                label: {
                    text: "Time of next court appearance (optional)",
                    classes: "govuk-label--s"
                },
                hint: {
                    text: "For example, 13:00"
                },
                classes: "govuk-input--width-4",
                id: "nextAppearanceTime",
                name: "nextAppearanceTime",
                errorMessage: errors | findError('nextAppearanceTime'),
                value: nextAppearanceTime
            }) }}

        {% endcall %}

        {{ govukButton({
            text: "Continue",
            attributes: {  'data-qa': 'continue-button' }
        }) }}
    </form>

{% endblock %}
