{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Add a court case conviction date applied to all" %}
{% set fieldSetHtml %}
    <h1 class="govuk-fieldset__heading govuk-!-static-margin-bottom-3">Is the conviction date the same for all offences on the warrant?</h1>
    <p class="govuk-body-l govuk-!-static-margin-bottom-3">{{ overallConvictionDate | formatDate }}</p>
{% endset %}
{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-overall-conviction-date-applied-all{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/appearanceCaption.njk" %}
                {{ govukRadios({
                    name: "overallConvictionDateAppliedAll",
                    fieldset: {
                        legend: {
                            html: fieldSetHtml,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: overallConvictionDateAppliedAllForm.overallConvictionDateAppliedAll === 'true'
                        },
                        {
                            value: "false",
                            text: "No",
                            checked: overallConvictionDateAppliedAllForm.overallConvictionDateAppliedAll === 'false'
                        }
                    ],
                    errorMessage:  errors | findError('overallConvictionDateAppliedAll')
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}