{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Add a court case outcome" %}

{% set radiosData = {
                    id: "overallCaseOutcome",
                    errorMessage: errors | findError('overallCaseOutcome'),
                    name: "overallCaseOutcome",
                    fieldset: {
                        legend: {
                        text: "Select the overall case outcome" if isAddCourtAppearance else "Edit the overall case outcome",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: []
    } %}

{% for caseOutcome in warrantTypeOutcomes %}
    {%- set caseOutcomeRow = {
        value: caseOutcome.outcomeUuid,
        text: caseOutcome.outcomeName,
        checked: caseOutcome.outcomeUuid === overallCaseOutcomeForm.overallCaseOutcome
    } -%}
    {{ radiosData.items.push(caseOutcomeRow) }}
{% endfor %}

{{ radiosData.items.push({ divider: "or"}) }}

{% for caseOutcome in otherOutcomes %}
{%- set caseOutcomeRow = {
        value: caseOutcome.outcomeUuid,
        text: caseOutcome.outcomeName,
        checked: caseOutcome.outcomeUuid === overallCaseOutcomeForm.overallCaseOutcome
    } -%}
    {{ radiosData.items.push(caseOutcomeRow) }}
{% endfor %}


{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-overall-case-outcome{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/appearanceCaption.njk" %}

                {{ govukRadios(radiosData) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}