{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% set pageTitle = applicationName + " - Add a case reference" %}

{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/submit-reference{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/appearanceCaption.njk" %}
                {{ govukInput({
                    label: {
                        text: "Enter the case reference",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    id: "referenceNumber",
                    name: "referenceNumber",
                    errorMessage: errors | findError('referenceNumber'),
                    value: courtCaseReferenceForm.referenceNumber
                }) }}

                {{ govukCheckboxes({
                    id: "noCaseReference",
                    name: "noCaseReference",
                    errorMessage: errors | findError('noCaseReference'),
                    items: [
                        {
                        value: "true",
                        text: "There is no case reference"
                        }
                    ]
                    }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/assets/js/caseReference.js"></script>
{% endblock %}