{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - Add a case reference" %}

{% block pageContent %}
    {{ super() }}
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-reference{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                  {% include "../../partials/hearingCaption.njk" %}
                {{ govukInput({
                    label: {
                        text: "Enter the case reference" if isAddCourtAppearance else "Edit case reference",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    id: "referenceNumber",
                    name: "referenceNumber",
                    errorMessage: errors | findError('referenceNumber'),
                    classes: 'govuk-input--width-10',
                    value: courtCaseReferenceForm.referenceNumber
                }) }}

                {{ govukCheckboxes({
                    id: "noCaseReference",
                    name: "noCaseReference",
                    errorMessage: errors | findError('noCaseReference'),
                    items: [
                        {
                            value: "true",
                            text: "There is no case reference",
                            checked: courtCaseReferenceForm.noCaseReference === 'true',
                            attributes: {  'data-qa': 'noCaseReference' }
                        }
                    ]
                    }) }}

                <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Continue",
                                attributes: {  'data-qa': 'continue-button' }
                            }) }}
                            {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
                </div>
            </form>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/caseReference.js"></script>
{% endblock %}
