{% extends "../../partials/goToCourtHearingLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - Same court name page" %}
{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-select-court-name{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/hearingCaption.njk" %}
                {{ govukRadios({
                    name: "courtNameSelect",
                    id: "courtNameSelect",
                    errorMessage: errors | findError('courtNameSelect'),
                    fieldset: {
                        legend: {
                        text: "Was the hearing at " + lastCourtName + "?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        text: "This was the court name for the scheduled appearance" if nextCourtAppearanceUsed else "This was the court name for the previous hearing."
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: selectCourtNameForm.courtNameSelect === 'true'
                        },
                        {
                            value: "false",
                            text: "No",
                            checked: selectCourtNameForm.courtNameSelect === 'false'
                        }
                    ]
                }) }}
                <input type="hidden" name="previousCourtCode" value="{{ previousCourtCode }}">
                <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Continue",
                                attributes: {  'data-qa': 'continue-button' }
                            }) }}
                            {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
                </div>
            </form>

        </div>
    </div>
    {{ super() }}
{% endblock %}
