{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Same case reference page" %}
{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-select-reference{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/appearanceCaption.njk" %}
                {{ govukRadios({
                    name: "referenceNumberSelect",
                    errorMessage: errors | findError('referenceNumberSelect'),
                    fieldset: {
                        legend: {
                        text: "Is the case reference " + lastCaseReferenceNumber + "?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        text: "This is the case reference used in the previous appearance."
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: referenceForm.referenceNumberSelect === 'true'
                        },
                        {
                            value: "false",
                            text: "No",
                            checked: referenceForm.referenceNumberSelect === 'false'
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    attributes: {  'data-qa': 'continue-button' }
                }) }}
            </form>

        </div>
    </div>

{% endblock %}