{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% set yesHtml %}
{{ govukInput({
    id: "taggedBail",
    name: "taggedBail",
    errorMessage: errors | findError('taggedBail'),
    label: {
        text: "Number of days"
    },
    inputmode: "numeric",
    classes: "govuk-input--width-3"
}) }}
{% endset %}

{% set pageTitle = applicationName + " - Tagged bail page" %}
{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/submit-tagged-bail{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/appearanceCaption.njk" %}
                
                {{ govukRadios({
                    name: "hasTaggedBail",
                    fieldset: {
                        legend: {
                            text: "Is there tagged bail on the warrant?",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    errorMessage: errors | findError('hasTaggedBail'),
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: taggedBailForm.hasTaggedBail === 'true',
                            conditional: {
                                html: yesHtml
                            }
                        },
                        {
                            value: "false",
                            checked: taggedBailForm.hasTaggedBail === 'false',
                            text: "No"
                        }
                    ]
                    }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}