{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}


{% set pageTitle = applicationName + " - upload remand court documents" %}

{% block pageContent %}
<div class="govuk-!-margin-right-8">
  <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-upload-court-documents" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% call govukFieldset({
      legend: {
        text: "Manage court documents" if isEditJourney else "Upload court documents",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}

      <p class="govuk-hint">
        The file type must be a .PDF, JPG, .PNG, .DOC or .DOCX.
      </p>

      {% for documentRow in documentRows %}
        {% if documentRow.documentUUID %}
          {% set documentKeyHtml %}
            <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/{{documentRow.documentUUID}}/download-document">{{ documentRow.fileName }}</a>
            <div class="govuk-body govuk-!-margin-0">{{documentRow.name}}</div>
          {% endset %}

          {{ govukSummaryList({
            classes: "govuk-summary-list--long-key govuk-!-margin-bottom-0",
            rows: [
              {
                key: {
                  html: documentKeyHtml
                },
                value: {
                  html: govukTag({text: "Uploaded", classes: "govuk-tag--green"})
                },
                actions: {
                  items: [
                    {
                      href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/" + documentRow.documentUUID + "/delete-document",
                      text: "Remove",
                      visuallyHiddenText: "document",
                      attributes: {
                        'data-qa': 'remove-' + documentRow.type + '-document-link'
                      }
                    }
                  ]
                }
              }
            ]
          }) }}
        
        {% if not loop.last %}
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">
        {% endif %}

        {% else %}
          <div class="govuk-form-group {% if loop.first %}govuk-!-margin-top-8{% else %}govuk-!-margin-top-6{% endif %} govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/{{ documentRow.uploadLinkSegment }}/upload-documents?_csrf={{ csrfToken }}">
              Upload {{ documentRow.name | lower }}
            </a>
          </div>
        {% endif %}

        

      {% endfor %}

        <div class="govuk-button-group govuk-!-margin-top-8">
          {{ govukButton({
              text: "Continue",
              attributes: { 'data-qa': 'continue-button' }
          }) }}
        </div>

    {% endcall %}
  </form>
</div>
{% endblock %}
