{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% set pageTitle = applicationName + " - Upload a warrant page" %}
{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" enctype="multipart/form-data" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-warrant-upload?_csrf={{ csrfToken }}{{ "&submitToCheckAnswers=true" if submitToCheckAnswers }}">
                {% include "../../partials/appearanceCaption.njk" %}
                {{ govukFileUpload({
                    id: "warrant-upload",
                    name: "warrantUpload",
                    label: {
                        text: "Upload a warrant",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    },
                    hint: {
                        text: "You can upload PDF or JPG files"
                    },
                    attributes: {
                        accept: "image/*,.pdf"
                    }
                }) }}

                {{ govukButton({
                    text: "Continue",
                    attributes: {  'data-qa': 'continue-button' }
                }) }}
            </form>

        </div>
    </div>

{% endblock %}