{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}


{% set pageTitle = applicationName + " - Add a court case Warrant Date" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/court-cases/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/submit-warrant-date{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <span class="govuk-caption-l">Add a court case</span>
                {{ govukDateInput({
                    id: "warrant-date",
                    namePrefix: "warrantDate",
                    fieldset: {
                        legend: {
                            text: "Enter the warrant date",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            classes: "govuk-input--width-2",
                            name:"day",
                            value: warrantDateDay
                        },
                        {
                            classes: "govuk-input--width-2",
                            name:"month",
                            value: warrantDateMonth
                        },
                        {
                            classes: "govuk-input--width-4",
                            name:"year",
                            value: warrantDateYear
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}