{% extends "../../partials/backLinkLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Select court case" %}
 {% set radiosData = {
        id: "courtCase",
        errorMessage: errors | findError('courtCase'),
        name: "courtCase",
        fieldset: {
            legend: {
                text: 'Select court case you want to add a hearing for',
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        },
        items: []
    } %}

{% for case in cases %}
    {%- set caseRow = {
        value: case.courtCaseUuid,
        text: (case.latestCourtAppearance.caseReference + ' at ' if case.latestCourtAppearance.caseReference else '') 
            + courtMap[case.latestCourtAppearance.courtCode] + ' last heard on '
            + (case.latestCourtAppearance.warrantDate | formatDate),
        checked: case.courtCaseUuid === courtDataSelectCaseForm.courtCase
    } -%}
    {{ radiosData.items.push(caseRow) }}
{% endfor %}
{% block content %}
    {% if errors | length %}
        <div class="govuk-grid-row govuk-!-margin-top-4">
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errors
            }) }}
        </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
               
                {{ govukRadios(radiosData) }}  

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        attributes: { "data-qa": "continue-button" }
                    }) }}
                    {{ govukButton({
                        text: "Cancel",
                        classes: "govuk-button--secondary",
                        attributes: { 'data-qa': 'cancel-button' },
                        href: "/person/" + nomsId
                    }) }}
                </div>
            </form>

        </div>
    </div>
{% endblock %}
