{% extends "../../partials/prisonerBannerLayout.njk" %}

{% set pageTitle = applicationName + " - Warrant recieved" %}

{% block content %}
    <h1 class="govuk-heading-l">
        Review new documents and add a court case
    </h1>

    <p>We have received {{appearance.documents.length}} documents(s) from common platform</p>

    <a data-qa="hmcts-court-data-continue" href="/person/{{nomsId}}/review-new-documents/{{hmctsHearingId}}/start">Create court case for this data</a>
{% endblock %}
