$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';
@import 'dist/accessible-autocomplete.min';

@import './components/header-bar';
@import './components/prisoner-banner';
@import 'assets/scss/local';
