$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";
@import 'hmpps/all';
@import 'dist/accessible-autocomplete.min';

@import './components/header-bar';
@import './components/offence-card';
@import './components/offence-summary';
@import './components/footer';
@import './components/content-top';
@import './components/action-list';
@import './components/alternative-sentence-length';
@import './local';
