$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";
@import "@ministryofjustice/hmpps-court-cases-release-dates-design/hmpps/all";
@import "accessible-autocomplete/dist/accessible-autocomplete.min";

@import './components/header-bar';
@import './components/offence-summary';
@import './components/footer';
@import './components/content-top';
@import './components/action-list';
@import './components/alternative-sentence-length';
@import './overrides/local';
@import './components/session-warning';
