.govuk-main-wrapper {
  min-height: 600px;
  padding-top: 0;
}

.no-bottom-border {
  border-bottom: none;
}

.autocomplete__input, .autocomplete__hint {
  width:80% !important;
}

.autocomplete__menu {
  width: calc(80% - 4px) !important;
}

.govuk-summary-list__row:last-child {
  border-bottom: 0;
}

.govuk-button--link {
  background: #1d70b8
}

.govuk-button--link:hover {
  background: #144e81
}

.govuk-border--1px {
  border:1px solid #b1b4b6
}

.sentence-type-detail-panel {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: #f3f2f1;
  border-radius: 4px;
}