{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}



{% set pageTitle = applicationName + " - Judicial findings check answers" %}

{% block pageContent %}
    {% include "../../partials/judicialFindingsCaption.njk" %}
    <h1 class="govuk-heading-l">Judicial findings have been applied</h1>
    <p class="govuk-body">A judicial finding of domestic abuse has been applied to {{ judicialFindingsOffences.length }} offence{% if judicialFindingsOffences.length !== 1%}s{% endif %}.</p>
    <h2 class="govuk-heading-m">Offences with judicial findings ({{ judicialFindingsOffences.length }})</h2>
    {{ govukButton({
        text: "Select another offence" ,
        classes: "govuk-button--link",
        href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/judicial-findings/select-offence-with-judicial-findings?fromCheckAnswers=true" if canSelectAnother,
        disabled: not canSelectAnother,
        attributes: {
            "data-qa": "selectAnotherOffence"
        }
    }) }}

    {% for offence in judicialFindingsOffences %}
        {% set summaryRows = [{
            key: {
                text: "Committed on"
            },
            value: {
                text: offence | offenceDatesText(false)
            }
        },
        {
            key: {
                text: "Judicial findings"
            },
            value: {
                text: "Finding of domestic abuse"
            }
        }]%}

        {% if offence.sentence.countNumber and offence.sentence.countNumber !== '-1' %}
            {% set summaryRows = [{
               key: {
                text: "Count number"
            },
            value: {
                text: offence.sentence.countNumber
            }
            }].concat(summaryRows)%}
        {% endif %}
        {{
            govukSummaryList({
                card: {
                    title: {
                        text: offence.offenceCode + ' ' + offenceMap[offence.offenceCode]
                    },
                    actions: {
                        items: [{
                            href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/judicial-findings/offences/" + offence.chargeUuid + "/delete-judicial-findings",
                            text: "Delete",
                            visuallyHiddenText: "delete",
                            classes: "govuk-link--no-visited-state",
                            attributes: {
                                "data-qa": "delete-offence-link-" + loop.index0
                            }
                    }]
                    }
                },
                rows: summaryRows
            })
        }}
    {% else %}
        {{ govukInsetText({
            text: 'No judicial findings have been added.',
            attributes: {
                "data-qa": "noJudicialFindingsInset"
            }
        }) }}
    {% endfor %}
    {% if canAccept %}
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukRadios({
                id: "finishedAddingJudicialFindings",
                name: "finishedAddingJudicialFindings",
                fieldset: {
                    legend: {
                        text: "Have you finished adding judicial findings?",
                        classes: "govuk-fieldset__legend--m"
                    }
                },
                errorMessage: errors | findError('finishedAddingJudicialFindings'),
                items: [
                    {
                        value: "true",
                        text: "Yes, I've finished adding judicial findings",
                        attributes: {
                        "data-qa": "finishAddingRadio"
                    }
                    },
                    {
                        value: "false",
                        text: "No, I'll come back later",
                        attributes: {
                        "data-qa": "notFinishedRadio"
                    }
                    }
                ]
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue",
                    attributes: {  'data-qa': 'continue-button' }
                }) }}
                {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
            </div>
        </form>
    {% endif %}
{% endblock %}
