{% extends "../../partials/backLinkLayout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Delete judicial findings" %}

{% block content %}
{{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <h1 class="govuk-heading-l">Are you sure you want to delete the judicial findings?</h1>
                <p class="govuk-body govuk-!-font-weight-bold">Offences with judicial findings of domestic abuse that will be deleted</p>

                {% set summaryRows = [{
            key: {
                text: "Committed on"
            },
            value: {
                text: offence | offenceDatesText(false)
            }
        },
        {
            key: {
                text: "Judicial findings"
            },
            value: {
                text: "Finding of domestic abuse"
            }
        }]%}

        {% if offence.sentence.countNumber and offence.sentence.countNumber !== '-1' %}
            {% set summaryRows = [{
               key: {
                text: "Count number"
            },
            value: {
                text: offence.sentence.countNumber
            }
            }].concat(summaryRows)%}
        {% endif %}
        {{
            govukSummaryList({
                card: {
                    title: {
                        text: offence.offenceCode + ' ' + offenceDetails.description
                    }
                },
                rows: summaryRows
            })
        }}

        <div class="govuk-button-group">
            {{ govukButton({
                text: "Yes, delete",
                classes: "govuk-button--warning",
                attributes: {  'data-qa': 'delete-button' }
            }) }}
            <a class="govuk-link govuk-link--no-visited-state" href="{{ cancelLink }}">Cancel and go back</a>
        </div>
            </form>
        </div>
    </div>
{% endblock %}
