.govuk-tag {
    display: inline-block;
    outline: 2px solid rgba(0, 0, 0, 0);
    outline-offset: -2px;
    color: #fff;
    background-color: #1d70b8;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left:8px
}

@media print {
    .govuk-tag {
        font-family:sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-tag {
        font-size: 16px;
        font-size: 1rem;
        line-height:1
    }
}

@media print {
    .govuk-tag {
        font-size: 14pt;
        line-height:1
    }
}

.govuk-tag--grey {
    color: #383f43;
    background:#eeefef
}

.govuk-tag--purple {
    color: #3d2375;
    background:#dbd5e9
}