<p class="govuk-body">This is a <strong>BOTUS sentence</strong> is a custodial sentence where the offender is detained for
    breaching their Top-up Supervision / Post-Sentence Supervision period. Typically 14 days</p>
