<p class="govuk-body">
    This is a Fine in this context refers to a custodial sentence that is imposed when someone fails to pay a court-ordered
    fine. It is not the same as a financial penalty; the sentence only becomes active if the person does not pay.
</p>

<p class="govuk-body">
    A/FINE sentences are calculated as standard determinate terms with no early release or licence.
</p>