<p class="govuk-body">
    This is a <strong>standard sentence</strong> is the typical determinate custodial sentence, with a fixed overall sentence
    length. It may be subject to various release arrangements, release points, and licence rules, depending on which
    legislative scheme applies.
</p>
