{% extends "../../../partials/referenceDataBackLinkLayout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set tableRows = [] %}

{% for sentenceType in sentenceTypes %}
    {% set editHtml %}
        <a class="govuk-link govuk-link--no-visited-state" href ="/admin/sentence-type/edit/{{ sentenceType.sentenceTypeUuid }}" data-qa="edit-link-{{ sentenceType.sentenceTypeUuid }}">Edit</a>
    {% endset %}
    {% set tableRows = tableRows.concat([
        [ {
            text: sentenceType.shortSentenceTypeUuid
        },
        {
            text: sentenceType.description
        },
        {
            text: sentenceType.minAgeInclusive + ' - ' + sentenceType.maxAgeExclusive
        },
        {
            text: sentenceType.minDateInclusive + ' - ' + sentenceType.maxDateExclusive
        },
        {
            text: sentenceType.minOffenceDateInclusive + '- ' + sentenceType.maxOffenceDateExclusive
        },
        {
            text: sentenceType.classification
        },
        {
            text: sentenceType.hintText
        },
        {
            text: sentenceType.nomisCjaCode +' - ' + sentenceType.nomisSentenceCalcType
        },
        {
            text: sentenceType.displayOrder
        },
        {
            text: sentenceType.status
        },
        {
            text: sentenceType.isRecallable
        }, {
            html: editHtml
        }]]) %}
{% endfor %}

{% block content %}
{% if successMessage %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-2">
        {{ govukNotificationBanner({
                text: successMessage,
                type: "success"
            }) }}
    </div>
</div>
{% endif %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-top-8">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-l">Sentence Type admin</h1>
                    <p class="govuk-body">
                        This page helps you find and review the sentence type reference data held in Remand and Sentencing. <br>
                        A <a href="/admin/sentence-type/search" data-qa="search-link">search page</a> exists to allow searching by all the parameters which are used in journey to display sentence types.
                    </p>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    {{ govukButton({
                        text: "Add a sentence type",
                        href: '/admin/sentence-type/add',
                        classes: 'govuk-link--no-visited-state'
                    }) }}
                </div>
            </div>

            {{
                govukTable({
                    caption: "Sentence Types",
                    attributes: {
                        "data-module": "moj-sortable-table"
                    },
                    captionClasses: "govuk-table__caption--m",
                    classes: "govuk-table--small-text-until-tablet",
                    head: [
                        {
                        text: "UUID",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Description",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Age (min-max)",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Conviction date (min-max)",
                        attributes: {
                            "aria-sort": "none"
                        },
                        format: "numeric"
                        },
                        {
                        text: "Offence date (min-max)",
                        attributes: {
                            "aria-sort": "none"
                        },
                        format: "numeric"
                        },
                        {
                        text: "Classification",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Hint text",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "NOMIS ID (CJA Code-Sentence Calc Type)",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Order",
                        attributes: {
                            "aria-sort": "none"
                        }
                        },
                        {
                        text: "Status"
                        },
                        {
                        text: "Can Recall"
                        },
                        {
                        text: "Edit"
                        }
                    ],
                    rows: tableRows
                })
            }}
        </div>
    </div>

{% endblock %}
