{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}



{% set pageTitle = applicationName + " - sentence offences with aggravated factors" %}

{# removed unused radioIdIndex - checkboxes use checkboxIdIndex inside the loop #}
{% block pageContent %}
    <form method="post"
          action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/aggravating-factors/{{chargeUuid}}/submit-select-which-aggravating-factors-apply" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% include "../../partials/aggravatingOffenceFactorsCaption.njk" %}
        <div class="govuk-form-group {%- if errorMessage %} govuk-form-group--error{% endif %}">

        {# Determine checked states: prefer flashed form values, otherwise use offence values passed from route #}
        {% if selectWhichAggravatingFactorsForm and selectWhichAggravatingFactorsForm.terroristConnection is defined %}
          {% set terroristChecked = selectWhichAggravatingFactorsForm.terroristConnection %}
        {% else %}
          {% set terroristChecked = terrorRelated or false %}
        {% endif %}

        {% if selectWhichAggravatingFactorsForm and selectWhichAggravatingFactorsForm.foreignPower is defined %}
          {% set foreignPowerChecked = selectWhichAggravatingFactorsForm.foreignPower %}
        {% else %}
          {% set foreignPowerChecked = foreignPowerRelated or false %}
        {% endif %}

        {{ govukCheckboxes({
          name: 'selectedAggravatingFactors[]',
          fieldset: {
            legend: {
              text: "Select which aggravating factors apply",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: offenceHint,
          items: [
            {
              id: 'aggravating-factor-terrorist-connection',
              value: "terroristConnection",
              text: "Offence aggravated by a terrorist connection",
              checked: terroristChecked,
              attributes: { "data-qa": "terrorRelatedCheckbox" }
            },
            {
              id: 'aggravating-factor-foreign-power',
              value: "foreignPower",
              text: "Offence aggravated by foreign power condition being mate",
              checked: foreignPowerChecked,
              attributes: { "data-qa": "foreignPowerRelatedCheckbox" }
            }
          ]
        }) }}
        </div>
        <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        attributes: {  'data-qa': 'continue-button' }
                    }) }}
                    {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
        </div>
    </form>
{% endblock %}
