{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = applicationName + " - sentence offences with aggravated factors" %}

{% block pageContent %}
  {% set params = [] %}
  {% if isEditing %}
    {% set params = params.concat(['isEditing=true']) %}
  {% endif %}
  {% if returnTo %}
    {% set params = params.concat(['returnTo=' + returnTo]) %}
  {% endif %}
  {% if params.length %}
    {% set editSuffix = '?' + params.join('&') %}
  {% else %}
    {% set editSuffix = '' %}
  {% endif %}

  <form method="post"
        action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/aggravating-factors/{{chargeUuid}}/submit-select-which-aggravating-factors-apply{{ editSuffix }}"
        autocomplete="off">

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% include "../../partials/aggravatingOffenceFactorsCaption.njk" %}

    {#
      Use form values if returning from validation,
      otherwise use selectedFactors passed from route
    #}
    {% set selected = selectWhichAggravatingFactorsForm.aggravatedFactors
      if selectWhichAggravatingFactorsForm and selectWhichAggravatingFactorsForm.aggravatedFactors is defined
      else selectedFactors
    %}

    {# Ensure selected is always an array #}
    {% if selected and not selected.push %}
      {% set selected = [selected] %}
    {% endif %}

    {% set items = [] %}

    {% if aggravatingFactorsOptions %}
      {% for opt in aggravatingFactorsOptions %}
        {% set items = items.concat([
          {
            id: 'aggravating-factor-' + opt.code,
            value: opt.code,
            text: opt.title,
            checked: selected.includes(opt.code),
            attributes: {
              'data-qa': 'aggravatingFactor-' + opt.code
            }
          }
        ]) %}
      {% endfor %}
    {% endif %}

    {{ govukCheckboxes({
      name: 'aggravatedFactors',
      fieldset: {
        legend: {
          text: "Select which aggravating factors apply",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: offenceHint,
      errorMessage: errors | findError('aggravatedFactors'),
      items: items
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        attributes: { 'data-qa': 'continue-button' }
      }) }}
      {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
    </div>

  </form>
{% endblock %}
