{% extends "../../partials/hearingDetailsLayout.njk" %}

{% set pageTitle = applicationName + " - Does this new outcome apply to more than one offence?" %}

{% block pageContent %}
    <h1 class="govuk-heading-l">Does this new outcome apply to more than one offence?</h1>
{% endblock %}
