{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Add a court case Confirm Offence" %}

{% block pageContent %}
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-confirm-offence">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="offenceCode" value="{{ offence.code }}">
                <input type="hidden" name="offenceName" value="{{ offence.description }}">
                <h1 class="govuk-heading-l">
                    {% include "../../partials/offenceCaption.njk" %}
                    Confirm the offence
                </h1>

                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: [
                        {
                            key: {
                                text: "Offence code"
                            },
                            value: {
                                text: offence.code
                            }
                        },
                        {
                            key: {
                            text: "Offence"
                        },
                            value: {
                            text: offence.description
                        }
                        }
                    ]
                }) }}


                {{ govukButton({
                    text: "Confirm and continue"
                }) }}
            </form>
            <p class="govuk-body">
                <a href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/offences/{{ offenceReference }}/offence-code">Enter a different offence code</a>
            </p>
            <p class="govuk-body">
                <a href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/offences/{{ offenceReference }}/offence-name">Look up an offence by name</a>
            </p>

{% endblock %}