{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Add a court case Confirm Offence" %}

{% set rows = [
    {
        key: {
            text: "Offence code"
        },
        value: {
            text: offence.code
        }
    },
    {
        key: {
            text: "Description"
        },
        value: {
            text: offence.description
        }
    },
    {
        key: {
            text: "Home office code (CJA)"
        },
        value: {
            text: offence.homeOfficeStatsCode if offence.homeOfficeStatsCode else 'None'
        }
    }
]
%}

{% if offence.legislation %}
    {% set rows = (rows.push(
        {
            key: {
                text: "Legislation"
            },
            value: {
                text: offence.legislation
            }
        }
    ), rows) %}
{% endif %}

{% block pageContent %}
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-confirm-offence{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="offenceCode" value="{{ offence.code }}">
                <input type="hidden" name="offenceName" value="{{ offence.description }}">
                <h1 class="govuk-heading-l">
                    {% include "../../partials/offenceCaption.njk" %}
                    Confirm the offence
                </h1>

                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: rows,
                    attributes: {
                        "data-qa": "offenceSummaryList"
                    }
                }) }}


                {{ govukButton({
                    text: "Confirm and continue"
                }) }}
            </form>
            <p class="govuk-body">
                <a href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/offence-code" class="govuk-link--no-visited-state">Enter a different offence code</a>
            </p>
            <p class="govuk-body">
                <a href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/offence-name" class="govuk-link--no-visited-state">Look up an offence by name</a>
            </p>

{% endblock %}