{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Consecutive to" %}

{% block pageContent %}
            <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}
                
                {{ govukInput({
                    label: {
                        text: "What sentence is count " + countNumber + " consecutive to?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    },
                    id: "consecutiveTo",
                    classes: "govuk-input--width-5",
                    errorMessage:  errors | findError('consecutiveTo'),
                    name: "consecutiveTo",
                    value: offenceConsecutiveToForm.consecutiveTo
                }) }}

                <div class="govuk-button-group">
                    <button type="submit"
                            class="govuk-button"
                            data-module="govuk-button"
                            data-qa="continue-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-consecutive-to{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                        Continue
                    </button>

                    <button type="submit"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button"
                            data-qa="save-draft-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-draft?submittedFromUrl={{ req.url }}">
                        Save as draft
                    </button>
                </div>
            </form>
{% endblock %}