{% extends "../../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../components/offenceCard/macro.njk" import offenceCard %}

{% set offenceSentence = 'sentence' if courtAppearance.warrantType === 'SENTENCING' else 'offence' %}

{% set isDeleteOffence = true %}

{% set pageTitle = applicationName + " - Delete an " + offenceSentence %}


{% set hintHtml %}
    {{
        offenceCard({
            offenceCode: offence.offenceCode,
            offenceName: offenceMap[offence.offenceCode],
            offenceStartDate: offence.offenceStartDate,
            offenceEndDate: offence.offenceEndDate,
            outcome: offence.outcome,
            countNumber: offence.sentence.countNumber,
            terrorRelated: offence.terrorRelated,
            isSentenced: offence.sentence,
            custodialSentenceLength: offence.sentence.custodialSentenceLength,
            licencePeriodLength: offence.sentence.licencePeriodLength,
            sentenceServeType: offence.sentence.sentenceServeType,
            consecutiveTo: offence.sentence.consecutiveTo,
            sentenceType: offence.sentence.sentenceType
        })
    }}
{% endset %}

{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-delete-offence">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {{ govukRadios({
                    name: "deleteOffence",
                    fieldset: {
                        legend: {
                            text: "Are you sure you want to delete this " + offenceSentence + "?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    errorMessage:  errors | findError('deleteOffence'),
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes"
                        },
                        {
                            value: "false",
                            text: "No"
                        }
                    ]
                }) }}


                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}