{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set summaryRows=[{
  key: {
    text: "Offence"
  },
  value: {
    text: offence.offenceCode + " " + offenceMap[offence.offenceCode]
  },
  actions: {
    items: [{
      href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + chargeUuid + "/offence-code?submitToEditOffence=true",
      text: "Edit",
      visuallyHiddenText: "offence code",
      classes: "govuk-link--no-visited-state",
      attributes: {
        'data-qa': 'edit-offence-code-' + chargeUuid
      }
    }]
  }
},
{
  key: {
    text: "Committed on"
  },
  value: {
    text: (offence.offenceStartDate | formatDate if offence.offenceStartDate else 'Not entered') + (" to " + offence.offenceEndDate | formatDate if offence.offenceEndDate else '')
  },
  actions: {
    items: [{
      href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + chargeUuid + "/offence-date?submitToEditOffence=true",
      text: "Edit",
      visuallyHiddenText: "committed on",
      classes: "govuk-link--no-visited-state",
      attributes: {
        'data-qa': 'edit-offence-date-' + chargeUuid
      }
    }]
  }
},
{
  key: {
    text: "Outcome"
  },
  value: {
    html: '<a href="/person/' + nomsId + '/' + addOrEditCourtCase + '/' + courtCaseReference + '/' + addOrEditCourtAppearance + '/' + appearanceReference + '/offences/' + chargeUuid + '/update-offence-outcome?submitToEditOffence=true" class="govuk-link govuk-link--no-visited-state" data-qa="update-outcome-cta">Update outcome</a>'
  } if showOutcomeCta else {
    text: outcome | outcomeValueOrLegacy(offence.legacyData)
  },
  actions: {
    items: [] if showOutcomeCta else [{
      href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + chargeUuid + "/offence-outcome?submitToEditOffence=true",
      text: "Edit",
      visuallyHiddenText: "outcome",
      classes: "govuk-link--no-visited-state",
      attributes: {
        'data-qa': 'edit-offence-outcome-' + chargeUuid
      }
    }]
  }
}] %}

{% if offence.sentence %}
  {% set countNumberHref= "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + chargeUuid + "/count-number?submitToEditOffence=true" %}
  {% if offence.sentence.countNumber and offence.sentence.countNumber !== '-1' %}
    {% set countNumberRow = {
      key: { text: "Count number" },
      value: { text: "Count " + offence.sentence.countNumber },
      actions: {
        items: [{
          href: countNumberHref,
          text: "Edit",
          visuallyHiddenText: "count number",
          classes: "govuk-link--no-visited-state",
          attributes: {
                    'data-qa': 'edit-count-number-' + chargeUuid
                  }
        }]
      }
    } %}
  {% else %}
    {% set countNumberRow = {
      key: { text: "Count number" },
      value: {
          html: '<a class="govuk-link govuk-link--no-visited-state" href="' + countNumberHref + '">Enter count number</a>',
          attributes: {
            'data-qa': 'enter-count-number-' + chargeUuid
          }
        }
    } %}
  {% endif %}
  {% set convictionDateHref= "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + chargeUuid + "/conviction-date?submitToEditOffence=true" %}
  {% if offence.sentence.convictionDate %}
    {% set convictionDateRow = {
      key: { text: "Conviction date" },
      value: {
        text: (offence.sentence.convictionDate | formatDate)
      },
      actions: {
        items: [{
          href: convictionDateHref,
          text: "Edit",
          visuallyHiddenText: "conviction date",
          classes: "govuk-link--no-visited-state",
          attributes: {
                    'data-qa': 'enter-conviction-date-' + chargeUuid
                  }
        }]
    }
    } %}
    {% else %}
    {% set convictionDateRow = {
      key: { text: "Conviction date" },
      value: {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="' + convictionDateHref + '">Enter conviction date</a>',
        attributes: {
          'data-qa': 'enter-conviction-date-' + chargeUuid
        }
      }
    }%}
    {% endif %}

  {% set summaryRows = ([countNumberRow, convictionDateRow].concat(summaryRows, [
  {
    key: { text: "Sentence type" },
    value: {
      text: sentenceType
    } if sentenceType else {
      html: '<a class="govuk-link govuk-link--no-visited-state" href="/person/' + nomsId + '/' + addOrEditCourtCase + '/' + courtCaseReference + '/' + addOrEditCourtAppearance + '/' + appearanceReference + '/offences/' + chargeUuid + '/sentence-type?submitToEditOffence=true" data-qa="edit-sentence-type-cta">Enter sentence type</a>'
    },
    actions: {
      items: [{
        href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + chargeUuid + "/sentence-type?submitToEditOffence=true",
        text: "Edit",
        visuallyHiddenText: "sentence type",
        classes: "govuk-link--no-visited-state",
        attributes: {
          'data-qa': 'edit-sentence-type-' + chargeUuid
        }
      }] if sentenceType else []
    }
  }])) %}

  {% for periodLength in periodLengths %}
    {% set periodLengthEditLink = "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + chargeUuid + "/period-length?periodLengthType=" + periodLength.type + "&submitToEditOffence=true" %}
    {% set periodLengthValue = {
      html: '<a href="' + periodLengthEditLink + '" class="govuk-link govuk-link--no-visited-state" data-qa="edit-period-length-' + periodLength.type + '-' + chargeUuid + '">Enter ' + periodLength.key + '</a>'
    } %}
    {% if periodLength.lengths.length > 0 %}
      {% if periodLength.lengths.length === 1 %}
        {% set periodLengthValue = { text: periodLength.lengths[0] | formatLengths } %}
      {% else %}
        {% set periodLengthValueHtml = '' %}

        {% for specificLength in periodLength.lengths %}
            {% set periodLengthValueHtml = periodLengthValueHtml + (specificLength | formatLengths) %}
            {% if not loop.last %}
              {% set periodLengthValueHtml = periodLengthValueHtml + '<br>' %}
            {% endif %}
        {% endfor %}
        {% set periodLengthValue = {
          html:  periodLengthValueHtml} %}
        {% set periodLengthEditLink = "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + chargeUuid + "/correct-many-period-length?periodLengthType=" + periodLength.type + (("&legacyCode= " + periodLength.legacyCode) if periodLength.legacyCode) %}
      {% endif %}
    {% endif %}
    {% set summaryRows = (summaryRows.concat({
      key: { text: periodLength.key | capitalize },
      value: periodLengthValue,
      actions: {
        items: [{
          href: periodLengthEditLink,
          text: "Edit",
          visuallyHiddenText: periodLength.key | capitalize,
          classes: "govuk-link--no-visited-state",
          attributes: {
            'data-qa': 'edit-period-length-' + periodLength.type + '-' + chargeUuid
          }
        }] if periodLength.lengths.length else []
      }
    })) %}
  {% endfor %}

  {% if offence.sentence.fineAmount %}
    {% set summaryRows = summaryRows.concat({
      key: { text: "Fine Amount" },
      value: { text: "£" + offence.sentence.fineAmount },
      actions: {
        items: [{
          href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + chargeUuid + "/fine-amount?submitToEditOffence=true",
          text: "Edit",
          visuallyHiddenText: "fine amount",
          classes: "govuk-link--no-visited-state",
          attributes: {
            'data-qa': 'edit-fine-amount-' + chargeUuid
          }
        }]
      }
    }) %}
  {% endif %}

  {% set summaryRows = (summaryRows.concat({
    key: { text: "Consecutive or concurrent" },
    value: { text: offence.sentence.sentenceServeType | capitalize },
    actions: {
      items: [{
        href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + chargeUuid + "/sentence-serve-type?submitToEditOffence=true",
        text: "Edit",
        visuallyHiddenText: "consecutive or concurrent",
        classes: "govuk-link--no-visited-state",
        attributes: {
          'data-qa': 'edit-sentence-serve-type-' + chargeUuid
        }
      }]
    }
  })) %}

  {% if offence.sentence.sentenceServeType == 'CONSECUTIVE' %}
    {% set consecutiveToEditLink = "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/sentencing/offences/" + chargeUuid + "/sentence-consecutive-to?submitToEditOffence=true" %}
    {% set consecutiveToValue = {
      html: '<a href="' + consecutiveToEditLink + '" class="govuk-link govuk-link--no-visited-state" data-qa="edit-consecutive-to-' + chargeUuid + '">Enter details</a>'
    } %}
    {% if consecutiveToDetails %}
      {% set consecutiveToValue = {
        text: consecutiveToDetails | consecutiveToDetailsToDescription | removeTo
      } %}
    {% endif %}
    {% set summaryRows = (summaryRows.concat({
      key: { text: "Consecutive to" },
      value: consecutiveToValue,
      actions: {
        items: [{
          href: consecutiveToEditLink,
          text: "Edit",
          visuallyHiddenText: "consecutive to",
          classes: "govuk-link--no-visited-state",
          attributes: {
            'data-qa': 'edit-consecutive-to-' + chargeUuid
          }
        }] if consecutiveToDetails else []
      }
    })) %}
  {% endif %}
{% endif %}

{% set pageTitle = applicationName + " - Edit an offence" %}
{% block pageContent %}
  {{ super() }}
  <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ chargeUuid }}/submit-edit-offence" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% include "../../partials/offenceCaption.njk" %}
    <h1 class="govuk-heading-l">Edit offence details</h1>

    {{ govukSummaryList({
      rows: summaryRows,
      attributes: { 'data-qa': 'edit-summary-list' }
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Accept changes",
        attributes: { 'data-qa': 'continue-button' }
      }) }}

      <a class="govuk-link govuk-link--no-visited-state" data-qa="cancel-edit-offence" href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ chargeUuid }}/cancel-offence">Cancel changes</a>
    </div>
  </form>
{% endblock %}
