{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - Add the fine amount" %}

{% block pageContent %}
  <form method="post" autocomplete="off">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% include "../../partials/offenceCaption.njk" %}
    {{ govukInput({
      id: "fineAmount",
      name: "fineAmount",
      value: offenceFineAmountForm.fineAmount,
      hint: offenceHint,
      errorMessage:  errors | findError('fineAmount'),
      label: {
        text: "What is the fine amount?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

  <div class="govuk-button-group">
              {{ govukButton({
                  text: "Continue",
                  attributes: {  'data-qa': 'continue-button' }
              }) }}
              {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
  </div>
  </form>
{% endblock %}
