{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Add the fine amount" %}

{% block pageContent %}
  <form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% include "../../partials/offenceCaption.njk" %}
    {{ govukInput({
      id: "fineAmount",
      name: "fineAmount",
      label: {
        text: "What is the fine amount?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    <div class="govuk-button-group">
      <button type="submit"
              class="govuk-button"
              data-module="govuk-button"
              data-qa="continue-button"
              formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/fine-amount"?submitToEditOffence=true" if submitToEditOffence }}>
        Continue
      </button>

      <button type="submit"
              class="govuk-button govuk-button--secondary"
              data-module="govuk-button"
              data-qa="save-draft-button"
              formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-draft?submittedFromUrl={{ req.url }}">
        Save as draft
      </button>
    </div>
  </form>
{% endblock %}