{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Add the fine amount" %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/fine-amount">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% include "../../partials/offenceCaption.njk" %}
      {{ govukInput({
        id: "fineAmount",
        name: "fineAmount",
        label: {
          text: "What is the fine amount?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-5",
        spellcheck: false
      }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
    </form>

  </div>
</div>

{% endblock %}