{% extends "../../partials/goToCourtHearingLayout.njk" %}
{% from "moj/components/interruption-card/macro.njk" import interruptionCard %}

{% set pageTitle = applicationName + " - inactive offence" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            {% call interruptionCard({
                heading: "You have entered an inactive offence",
                primaryAction: {
                    text: "Yes, continue",
                    href: continueLink,
                    attributes: {
                        "data-qa": "continue-button"
                    }
                },
                secondaryAction: {
                    text: "Go back and change the offence",
                    href: backLink
                }
                }) -%}
                <p class="govuk-body">The offence <strong>{{ offence.code }} - {{ offence.description }}</strong> was made inactive on <strong>{{ offence.endDate | formatDate }}</strong>.</p>
                <p class="govuk-body">Selecting this offence could impact your release dates calculation.</p>
                <p class="govuk-body">You can go back and change the offence, or you can continue with the inactive offence.</p>
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">Do you want to continue?</p>
            {%- endcall %}
        </div>
    <div>
{% endblock %}
