{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageTitle = applicationName + " - Lookup a court case outcome" %}


{% block pageContent %}
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-lookup-offence-outcome{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}
                {{ govukSelect({
                    label: {
                        text: "Look up an outcome",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Start by typing the outcome."
                    },
                    id: "offence-outcome",
                    name: "offenceOutcome",
                    items: [
                        {
                            text: "",
                            selected: true
                        },
                        {
                            value: "Remand in Custody (Bail Refused)",
                            text: "Remand in Custody (Bail Refused)"
                        },
                        {
                            value: "Commit/Transfer/Send to Crown Court for Trial in Custody",
                            text: "Commit/Transfer/Send to Crown Court for Trial in Custody"
                        },
                        {
                            value: "Commit to Crown Court for Trial (Summary / Either Way Offences)",
                            text: "Commit to Crown Court for Trial (Summary / Either Way Offences)"
                        },
                        {
                            value: "Recall to Prison",
                            text: "Recall to Prison"
                        },
                        {
                            value: "Sentence Postponed",
                            text: "Sentence Postponed"
                        },
                        {
                            value: "Commit to Crown Court for Sentence in Custody",
                            text: "Commit to Crown Court for Sentence in Custody"
                        },
                        {
                            value: "Adjournment",
                            text: "Adjournment"
                        },
                        {
                            value: "Remand on Conditional Bail",
                            text: "Remand on Conditional Bail"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

{% endblock %}

{% block javascripts %}
    <script src="/assets/accessible-autocomplete.min.js"></script>
    <script id="autocomplete-script" src="/assets/js/autoCompleteLookupOffenceOutcome.js"></script>
{% endblock %}