{% extends "../../partials/hearingDetailsLayout.njk" %}

{% set pageTitle = applicationName + " - What is the new outcome for these offences?" %}

{% block pageContent %}
    <h1 class="govuk-heading-l">What is the new outcome for these offences?</h1>
{% endblock %}
