{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% set pageTitle = applicationName + " - Enter the offence code" %}
{% set hintText = "" %}
{% if offenceName %}
    {% set hintText = offenceName %}
{% endif %}

{% block pageContent %}
            <form method="post" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {{ govukInput({
                    label: {
                        text: "Enter the offence code",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint:{
                                        text: hintText
                                        },
                    id: "offence-code",
                    name: "offenceCode",
                    errorMessage: errors | findError('offenceCode'),
                    classes: "govuk-input--width-10",
                    value: offenceCode
                }) }}

                {{ govukCheckboxes({
                    name: "unknownCode",
                    items: [
                        {
                            value: "true",
                            id: "unknown-code",
                            text: "I do not have the offence code",
                            checked: unknownCode
                        }
                    ],
                    errorMessage: errors | findError('unknownCode')
                })}}


                <div class="govuk-button-group">
                    <button type="submit"
                            class="govuk-button"
                            data-module="govuk-button"
                            data-qa="continue-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ chargeUuid }}/submit-offence-code{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                        Continue
                    </button>
                </div>
            </form>


{% endblock %}

{% block javascripts %}
    <script src="/assets/js/offenceCode.js"></script>
{% endblock %}
