{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Add a offence outcome" %}

{% set radiosData = {
                    name: "offenceOutcome",
                    fieldset: {
                        legend: {
                        text: "Select the outcome for this offence",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: []
    } %}

{% for caseOutcome in topCaseOutcomes %}
    {%- set caseOutcomeRow = {
        value: caseOutcome.description,
        text: caseOutcome.description,
        checked: caseOutcome.description === offenceOutcome
    } -%}
    {{ radiosData.items.push(caseOutcomeRow) }}
{% endfor %}

{{ radiosData.items.push({ divider: "or"}) }}
{{ 
    radiosData.items.push({
                        value: "LOOKUPDIFFERENT",
                        text: "Lookup a different outcome",
                        checked: offenceOutcome === "LOOKUPDIFFERENT"
                        }) 
}}

{% block pageContent %}
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-offence-outcome{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {{ govukRadios(radiosData) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

{% endblock %}