{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set pageTitle = applicationName + " - Add offence dates" %}

{% block pageContent %}
            <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {% call govukFieldset({
                    legend: {
                        text: "Enter the offence dates" if isAddCourtAppearance else "Edit the offence dates",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                }) %}

                    {{ govukDateInput({
                        id: "offenceStartDate",
                        namePrefix: "offenceStartDate",
                        errorMessage: errors | findErrorsBeginningWith('offenceStartDate'),
                        fieldset: {
                            legend: {
                                text: "Offence start date",
                                classes: "govuk-label--s govuk-!-font-weight-bold"
                            }
                        },
                        items: [
                            {
                                classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('offenceStartDate-day') else ''),
                                name:"day",
                                value: offenceStartDateDay
                            },
                            {
                                classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('offenceStartDate-month') else ''),
                                name:"month",
                                value: offenceStartDateMonth
                            },
                            {
                                classes: "govuk-input--width-4" + (" govuk-input--error" if errors | findError('offenceStartDate-year') else ''),
                                name:"year",
                                value: offenceStartDateYear
                            }
                        ]
                    }) }}

                    {{ govukDateInput({
                        id: "offenceEndDate",
                        namePrefix: "offenceEndDate",
                        errorMessage: errors | findErrorsBeginningWith('offenceEndDate'),
                        fieldset: {
                            legend: {
                                text: "Offence end date (optional)",
                                classes: "govuk-label--s govuk-!-font-weight-bold"
                            }
                        },
                        hint: {
                            text: "This only applies to offences occuring over multiple days"
                        },
                        items: [
                            {
                                classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('offenceEndDate-day') else ''),
                                name:"day",
                                value: offenceEndDateDay
                            },
                            {
                                classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('offenceEndDate-month') else ''),
                                name:"month",
                                value: offenceEndDateMonth
                            },
                            {
                                classes: "govuk-input--width-4" + (" govuk-input--error" if errors | findError('offenceEndDate-year') else ''),
                                name:"year",
                                value: offenceEndDateYear
                            }
                        ]
                    }) }}

                {% endcall %}

                <div class="govuk-button-group">
                    <button type="submit"
                            class="govuk-button"
                            data-module="govuk-button"
                            data-qa="continue-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-offence-date{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                        Continue
                    </button>

                    <button type="submit"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button"
                            data-qa="save-draft-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-draft">
                        Save as draft
                    </button>
                </div>
            </form>

{% endblock %}