{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - Add a offence outcome" %}

{% set fieldSetHtml %}
    <h1 class="govuk-fieldset__heading{% if legacyCaseOutcome %} govuk-!-static-margin-bottom-3{% endif %}">
        Select the outcome for this offence
    </h1>
    {% if legacyCaseOutcome %}
        <p class="govuk-body-l govuk-!-static-margin-bottom-3" data-qa="legendParagraph">
            {{ legacyCaseOutcome }}
        </p>
    {% endif %}
{% endset %}

{% set radiosData = {
    name: "offenceOutcome",
    fieldset: {
        legend: {
            html: fieldSetHtml,
            classes: "govuk-fieldset__legend--l"
        }
    },
    hint: offenceHint,
    items: []
} %}

{% for caseOutcome in primaryOutcomes %}
    {% set caseOutcomeRow = {
        value: caseOutcome.outcomeUuid,
        text: caseOutcome.outcomeName,
        checked: caseOutcome.outcomeUuid === offenceOutcomeForm.offenceOutcome
    } %}
    {{ radiosData.items.push(caseOutcomeRow) }}
{% endfor %}

{% if primaryOutcomes.length and nonCustodialOutcomes.length %}
    {{ radiosData.items.push({ divider: "or" }) }}
{% endif %}

{% for caseOutcome in nonCustodialOutcomes %}
    {% set caseOutcomeRow = {
        value: caseOutcome.outcomeUuid,
        text: caseOutcome.outcomeName,
        checked: caseOutcome.outcomeUuid === offenceOutcomeForm.offenceOutcome
    } %}
    {{ radiosData.items.push(caseOutcomeRow) }}
{% endfor %}

{% block pageContent %}
    <form method="post"
          action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ chargeUuid }}/submit-offence-outcome{{ '?submitToEditOffence=true' if submitToEditOffence }}"
          autocomplete="off">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% include "../../partials/offenceCaption.njk" %}

        {{ govukRadios(radiosData) }}

        <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        attributes: {  'data-qa': 'continue-button' }
                    }) }}
                    {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
        </div>
    </form>
{% endblock %}
