{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set pageTitle = applicationName + " - Add a court case Warrant Date" %}

{% block pageContent %}
            <form method="post" action="/person/{{ nomsId }}/court-cases/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-offence-date">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <span class="govuk-caption-l">Add an offence to court case {{ courtCaseReference }}</span>

                {% call govukFieldset({
                    legend: {
                        text: "Enter the offence date",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                }) %}

                    {{ govukDateInput({
                        id: "offence-start-date",
                        namePrefix: "offenceStartDate",
                        fieldset: {
                            legend: {
                                text: "Offence start date",
                                classes: "govuk-label--s"
                            }
                        }
                    }) }}

                    {{ govukDateInput({
                        id: "offence-end-date",
                        namePrefix: "offenceEndDate",
                        fieldset: {
                            legend: {
                                text: "Offence end date (optional)",
                                classes: "govuk-label--s"
                            }
                        },
                        hint: {
                            text: "This only applies to offences occuring over multiple days"
                        }
                    }) }}

                {% endcall %}



                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

{% endblock %}