{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - Review offences" %}
{% set hideOffences = true %}
{% block pageContent %}
            <h1 class="govuk-heading-l">Review offences</h1>

            {% if mergedFromText %}
                {{ govukInsetText({
                    text: mergedFromText,
                    classes: "govuk-!-margin-bottom-3",
                    attributes: {
                        "data-qa": "mergedFromText"
                    }
                }) }}
            {% endif %}

            {{ govukButton({
                text: "Add an offence" ,
                classes: "govuk-button--link",
                href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + courtAppearance.offences | length + "/add-another-offence",
                attributes: {
                    "data-qa": "addAnotherOffence"
                }
            }) }}

            {% for offence in unchangedOffences %}
                {% set offenceId = 'offences.' + offence.index %}
                {{
                    offenceCard({
                        offenceCode: offence.offenceCode,
                        offenceName: offenceMap[offence.offenceCode],
                        offenceStartDate: offence.offenceStartDate | formatDate if offence.offenceStartDate else 'Not entered',
                        offenceEndDate: offence.offenceEndDate | formatDate,
                        outcome: outcomeMap[offence.outcomeUuid] | chargeOutcomeOrLegacy(offence.legacyData),
                        outcomeUpdated: offence.updatedOutcome,
                        countNumber: offence.sentence.countNumber,
                        lineNumber: offence.sentence.legacyData.nomisLineReference if offence.sentence and offence.sentence.legacyData,
                        convictionDate: offence.sentence.convictionDate | formatDate,
                        terrorRelated: offence.terrorRelated,
                        isSentenced: offence.sentence,
                        periodLengths: offence.sentence.periodLengths,
                        sentenceType: sentenceTypeMap[offence.sentence.sentenceTypeId] if offence.sentence,
                        fineAmount: offence.sentence.fineAmount,
                        mergedFromCase: offence.mergedFromCase,
                        courtDetails: courtMap,
                        actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + offence.chargeUuid + "/load-edit-offence",
                                    text: "Edit",
                                    visuallyHiddenText: "edit offence"
                                }
                            ]
                        },
                        listItems: {
                            classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-2",
                            items: [{
                                html: '<a href="/person/'+ nomsId + '/' + addOrEditCourtCase + '/' + courtCaseReference  + '/' + addOrEditCourtAppearance + '/' + appearanceReference + '/offences/' + offence.chargeUuid + '/update-offence-outcome?backTo=reviewOffences" data-qa="update-outcome-link-'+ offence.chargeUuid +'" class="govuk-link govuk-link--no-visited-state">Update outcome</a>'
                            }]
                        },
                        id: offenceId,
                        errorMessage: errors | findErrorsBeginningWith(offenceId)
                    })
                }}
            {% endfor %}

            <h2 class="govuk-heading-m govuk-!-margin-top-8">Offences with updated outcomes</h2>

            {% for offence in changedOffences %}
                {{
                    offenceCard({
                        offenceCode: offence.offenceCode,
                        offenceName: offenceMap[offence.offenceCode],
                        offenceStartDate: offence.offenceStartDate | formatDate if offence.offenceStartDate else 'Not entered',
                        offenceEndDate: offence.offenceEndDate | formatDate,
                        outcome: outcomeMap[offence.outcomeUuid] | chargeOutcomeOrLegacy(offence.legacyData),
                        outcomeUpdated: offence.updatedOutcome,
                        countNumber: offence.sentence.countNumber,
                        lineNumber: offence.sentence.legacyData.nomisLineReference if offence.sentence and offence.sentence.legacyData,
                        convictionDate: offence.sentence.convictionDate | formatDate,
                        terrorRelated: offence.terrorRelated,
                        isSentenced: offence.sentence,
                        periodLengths: offence.sentence.periodLengths,
                        sentenceType: sentenceTypeMap[offence.sentence.sentenceTypeId] if offence.sentence,
                        fineAmount: offence.sentence.fineAmount,
                        mergedFromCase: offence.mergedFromCase,
                        courtDetails: courtMap,
                        actions: {
                            items: [
                                {
                                    href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/offences/" + offence.chargeUuid + "/load-edit-offence",
                                    text: "Edit",
                                    visuallyHiddenText: "edit offence"
                                }
                            ]
                        }
                    })
                }}
            {% else %}
                {{ govukInsetText({
                    text: "There are no offences with updated outcomes."
                }) }}
            {% endfor %}


            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-review-offences" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukRadios({
                        name: "changeOffence",
                        fieldset: {
                            legend: {
                            text: "Have you finished reviewing offences?",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        errorMessage: errors | findError("changeOffence"),
                        items: [
                            {
                                value: "true",
                                text: "Yes, I've finished reviewing offences"
                            },
                            {
                                value: "false",
                                text: "No, I'll come back to it later"
                            }
                        ]
                    }) }}

                    <div class="govuk-button-group">
                                {{ govukButton({
                                    text: "Continue",
                                    attributes: {  'data-qa': 'continue-button' }
                                }) }}
                                {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
                    </div>
            </form>

{% endblock %}
