{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = applicationName + " - select a court case" %}

{% set radioItems = [] %}

{% for appearance in sentencedCourtAppearances %}
    {% set radioItems = radioItems.concat({
        value: appearance.appearanceUuid,
        text: ("Case " + appearance.courtCaseReference + " at " if appearance.courtCaseReference else "Case held at ")  + courtMap[appearance.courtCode] + " on " + (appearance.appearanceDate | formatDate),
        checked: sentenceSelectCaseForm.appearanceSelectedUuid === appearance.appearanceUuid
    })%}
{% endfor %}


{% block pageContent %}
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-sentence-select-case{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {{ govukRadios({
                    id: "appearanceSelectedUuid",
                    name: "appearanceSelectedUuid",
                    fieldset: {
                        legend: {
                            text: "Select the case",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        html: govukDetails({ summaryText: "What to do if the case isn't listed", text: "Lorum ipsum"})
                    },
                    errorMessage:  errors | findError('appearanceSelectedUuid'),
                    items: radioItems
                }) }}


                {{ govukButton({
                    text: "Continue",
                    attributes: {  'data-qa': 'continue-button' }
                }) }}
            </form>
{% endblock %}