{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Sentence type " %}

{% set sentenceTypeItems = [] %}

{% for sentenceType in sentenceTypes %}
    {% set sentenceTypeItems = sentenceTypeItems.concat({
        value: sentenceType.description,
        text: sentenceType.description,
        checked: offenceSentenceTypeForm.sentenceType === sentenceType.description
    })%}
{% endfor %}

{% block pageContent %}
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-sentence-type{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {{ govukRadios({
                    id: "sentenceType",
                    name: "sentenceType",
                    fieldset: {
                        legend: {
                            text: "Select the sentence type",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    errorMessage:  errors | findError('sentenceType'),
                    items: sentenceTypeItems
                }) }}


                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
{% endblock %}