{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set pageTitle = applicationName + " - Add sentence length" %}

{% block pageContent %}
            <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {{ govukDateInput({
                    id: "sentenceLength",
                    namePrefix: "sentenceLength",
                    errorMessage: errors | findErrorsBeginningWith('sentenceLength'),
                    fieldset: {
                        legend: {
                        text: "Enter the sentence length",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                    {
                        classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('sentenceLength-years') else ''),
                        label: "Years",
                        name:"years",
                        value: offenceSentenceLengthForm["sentenceLength-years"]
                    },
                    {
                        classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('sentenceLength-months') else ''),
                        label: "Months",
                        name:"months",
                        value: offenceSentenceLengthForm["sentenceLength-months"]
                    },
                    {
                        classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('sentenceLength-weeks') else ''),
                        label: "Weeks",
                        name:"weeks",
                        value: offenceSentenceLengthForm["sentenceLength-weeks"]
                    },
                    {
                        classes: "govuk-input--width-2" + (" govuk-input--error" if errors | findError('sentenceLength-days') else ''),
                        label: "Days",
                        name:"days",
                        value: offenceSentenceLengthForm["sentenceLength-days"]
                    }
                    ]
                }) }}

                <p class="govuk-body">
                    <a href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/alternative-sentence-length{{ "?submitToEditOffence=true" if submitToEditOffence }}">The sentence length is formatted differently</a>
                </p>

                <div class="govuk-button-group">
                    <button type="submit"
                            class="govuk-button"
                            data-module="govuk-button"
                            data-qa="continue-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-sentence-length{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                        Continue
                    </button>

                    <button type="submit"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button"
                            data-qa="save-draft-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-draft?submittedFromUrl={{ req.url }}">
                        Save as draft
                    </button>
                </div>
            </form>

{% endblock %}