{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../components/offenceCard/macro.njk" import offenceCard %}

{% set offenceSentence = 'sentence' if courtAppearance.warrantType === 'SENTENCING' else 'offence' %}

{% set isDeleteOffence = true %}

{% set pageTitle = applicationName + " - Consecutive or concurrent " %}

{% set serveTypeItems = [
    {
        value: "CONSECUTIVE",
        text: "Consecutive"
    },
    {
        value: "CONCURRENT",
        text: "Concurrent"
    }
]%}

{% if not forthwithAlreadySelected %}
    {% set serveTypeItems = (serveTypeItems.concat([
                    {
                    divider: "or"
                    },{
                    value: "FORTHWITH",
                    text: "Forthwith",
                    hint: {
                        text: "There can only be one forthwith sentence in a case"
                    }
                }])) %}
{% endif %}

{% block pageContent %}
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/appearance/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-sentence-serve-type">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {{ govukRadios({
                    name: "sentenceServeType",
                    fieldset: {
                        legend: {
                            text: "Is the sentence consecutive or concurrent?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    errorMessage:  errors | findError('sentenceServeType'),
                    items: serveTypeItems
                }) }}


                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
{% endblock %}