{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Sentence type " %}

{% set fieldSetHtml %}
    <h1 class="govuk-fieldset__heading{% if legacySentenceType %} govuk-!-static-margin-bottom-3{% endif %}">{% if isAddCourtAppearance%}Select the sentence type{%else%}Edit the sentence type{%endif%}</h1>
    {% if legacySentenceType%}
    <p class="govuk-body-l govuk-!-static-margin-bottom-3" data-qa="legendParagraph">{{ legacySentenceType }}</p>
    {% endif %}
{% endset %}

{% set sentenceTypeItems = [] %}

{% for sentenceType in sentenceTypes %}
    {% set sentenceTypeItems = sentenceTypeItems.concat({
        value: sentenceType.sentenceTypeUuid + "|" + sentenceType.classification,
        text: sentenceType.description,
        checked: offenceSentenceTypeForm.sentenceType === sentenceType.sentenceTypeUuid,
        hint: {
            text: sentenceType.hintText
        }
    })%}
{% endfor %}

{% block pageContent %}
            <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {{ govukRadios({
                    id: "sentenceType",
                    name: "sentenceType",
                    fieldset: {
                        legend: {
                            html: fieldSetHtml,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    errorMessage:  errors | findError('sentenceType'),
                    items: sentenceTypeItems
                }) }}


                <div class="govuk-button-group">
                    <button type="submit"
                            class="govuk-button"
                            data-module="govuk-button"
                            data-qa="continue-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-sentence-type{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                        Continue
                    </button>

                    <button type="submit"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button"
                            data-qa="save-draft-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-draft?submittedFromUrl={{ req.url }}">
                        Save as draft
                    </button>
                </div>
            </form>
{% endblock %}