{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set pageTitle = applicationName + " - Consecutive or concurrent " %}

{% set serveTypeItems = [
    {
        value: "CONSECUTIVE",
        text: "Consecutive",
        checked: sentenceServeType === 'CONSECUTIVE'
    },
    {
        value: "CONCURRENT",
        text: "Concurrent",
        checked: sentenceServeType === 'CONCURRENT'
    }
]%}

{% if showForthwith %}
    {% set serveTypeItems = (serveTypeItems.concat([
                    {
                    divider: "or"
                    },{
                    value: "FORTHWITH",
                    text: "Forthwith",
                    hint: {
                        text: "There can only be one forthwith sentence in a case"
                    },
                    checked: sentenceServeType === 'FORTHWITH'
                }])) %}
{% endif %}

{% block pageContent %}
            <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ chargeUuid }}/submit-sentence-serve-type{{ submitQuery }}" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {{ govukRadios({
                    id: "sentenceServeType",
                    name: "sentenceServeType",
                    fieldset: {
                        legend: {
                            text: "Is the sentence consecutive or concurrent?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: offenceHint,
                    errorMessage:  errors | findError('sentenceServeType'),
                    items: serveTypeItems
                }) }}


                <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Continue",
                                attributes: {  'data-qa': 'continue-button' }
                            }) }}
                            {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
                </div>
            </form>
{% endblock %}
