{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Terror related offence" %}

{% block pageContent %}
            <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% include "../../partials/offenceCaption.njk" %}

                {{ govukRadios({
                    name: "terrorRelated",
                    classes: "govuk-radios--inline",
                    errorMessage: errors | findError('terrorRelated'),
                    fieldset: {
                        legend: {
                            text: "Was the offence terror related?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: terrorRelatedForm.terrorRelated === 'true'
                        },
                        {
                            value: "false",
                            text: "No",
                            checked: terrorRelatedForm.terrorRelated === 'false'
                        }
                    ]
                }) }}


                <div class="govuk-button-group">
                    <button type="submit"
                            class="govuk-button"
                            data-module="govuk-button"
                            data-qa="continue-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ offenceReference }}/submit-terror-related{{ "?submitToEditOffence=true" if submitToEditOffence }}">
                        Continue
                    </button>
                {% if featureToggles.saveDraftEnabled %}
                    <button type="submit"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button"
                            data-qa="save-draft-button"
                            formaction="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/submit-draft">
                        Save as draft
                    </button>
                {% endif %}
                </div>
            </form>
{% endblock %}