{% extends "../../partials/appearanceDetailsLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Update offence outcome" %}

{% set fieldSetHtml %}
    <h1 class="govuk-fieldset__heading">
        <span class="govuk-caption-l">Update offence outcomes</span>
        What is the new outcome for this offence?
    </h1>
{% endset %}

{% set radiosData = {
        name: "offenceOutcome",
        fieldset: {
            legend: {
            html: fieldSetHtml,
            classes: "govuk-fieldset__legend--l"
            }
        },
        hint: offenceHint,
        items: []
    } %}

{% for caseOutcome in warrantTypeOutcomes %}
    {%- set caseOutcomeRow = {
        value: caseOutcome.outcomeUuid,
        text: caseOutcome.outcomeName
    } -%}
    {{ radiosData.items.push(caseOutcomeRow) }}
{% endfor %}

{% if nonCustodialOutcomes.length %}
    {{ radiosData.items.push({ divider: "or"}) }}

    {% for caseOutcome in nonCustodialOutcomes %}
    {%- set caseOutcomeRow = {
            value: caseOutcome.outcomeUuid,
            text: caseOutcome.outcomeName
        } -%}
        {{ radiosData.items.push(caseOutcomeRow) }}
    {% endfor %}
{% endif %}

{% block pageContent %}
    <form method="post" action="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/offences/{{ chargeUuid }}/submit-update-offence-outcome{{'?submitToEditOffence=true' if submitToEditOffence else ''}}" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios(radiosData) }}

        {{ govukButton({
            text: "Save and continue",
            attributes: {  'data-qa': 'continue-button' }
        }) }}
    </form>

{% endblock %}
