{% extends "../../partials/hearingDetailsLayout.njk" %}

{% set pageTitle = applicationName + " - Which offences does the new outcome apply to?" %}

{% block pageContent %}
    <h1 class="govuk-heading-l">Which offences does the new outcome apply to?</h1>
{% endblock %}
