.govuk-main-wrapper {
  min-height: 600px;
  padding-top: 0;
}

.no-bottom-border {
  border-bottom: none;
}

.autocomplete__input, .autocomplete__hint {
  width:80% !important;
}

.autocomplete__menu {
  width: calc(80% - 4px) !important;
}

.govuk-summary-list__row:last-child {
  border-bottom: 0;
}

.govuk-button--link {
  background: #1d70b8
}

.govuk-button--link:hover {
  background: #144e81
}

.govuk-border--1px {
  border:1px solid #b1b4b6
}

.sentence-type-detail-panel {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: #f3f2f1;
  border-radius: 4px;
}

.moj-timeline__document-icon {
  fill: #1d70b8;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list.govuk-summary-list--long-key .govuk-summary-list__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .govuk-summary-list.govuk-summary-list--long-key .govuk-summary-list__key {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 0;
  }
  .govuk-summary-list.govuk-summary-list--long-key .govuk-summary-list__actions {
    width: auto;
    margin-bottom: 0;
  }
}

.filter.govuk-details[open] > .govuk-details__summary::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  height: 10px;
  position: relative;
  vertical-align: middle;
  width: 10px;
  border-color: initial;
  clip-path: unset;
  -webkit-transform: translateY(30%) rotate(-45deg) scale(1);
  -ms-transform: translateY(30%) rotate(-45deg) scale(1);
  transform: translateY(30%) rotate(-45deg) scale(1);
  margin-right: 5px;
}

.filter.govuk-details > .govuk-details__summary::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  height: 10px;
  position: relative;
  vertical-align: middle;
  width: 10px;
  border-color: initial;
  clip-path: unset;
  -webkit-transform: translateY(-25%) rotate(135deg) scale(1);
  -ms-transform: translateY(-25%) rotate(135deg) scale(1);
  transform: translateY(-25%) rotate(135deg) scale(1);
  margin-right: 5px;
}

.filter.govuk-details > .govuk-details__summary {
  padding-left: 0;
}

.show-toggle.govuk-details > .govuk-details__summary > .govuk-details__summary-text::before {
  content: "Show ";
}

.show-toggle.govuk-details[open] > .govuk-details__summary > .govuk-details__summary-text::before {
  content: "Hide ";
}
