<a class="govuk-link govuk-link--no-visited-state" target="_blank"
  href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/{{ document.documentUUID }}/download-document">
  {{ document.fileName }}
</a>
<div class="govuk-body govuk-!-margin-0">{{ document.typeName }}</div>
