{% if isMultiTypeUploadEnabled %}
      <a class="govuk-link govuk-link--no-visited-state" target="_blank"
        href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/{{ document.documentUUID }}/download-document">
        {{ document.fileName }}
      </a>
      <div class="govuk-body govuk-!-margin-0">{{ document.typeName }}</div>
    {% else %}
      <a class="govuk-link govuk-link--no-visited-state" target="_blank"
       href="/person/{{ nomsId }}/{{ addOrEditCourtCase }}/{{ courtCaseReference }}/{{ addOrEditCourtAppearance }}/{{ appearanceReference }}/{{ document.documentUUID }}/download-document">
      <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 20" width="20" height="16">
        <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"></path>
      </svg>
      {{ document.documentType }}
    </a>
    {% endif %}
