{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set hideOffences = true %}
{% set hideOutcome = true %}

{% set pageTitle = applicationName + " - Record appeal" %}

{% block pageContent %}
    <h1 class="govuk-heading-l">
        Record appeal
    </h1>
    <h2 class="govuk-heading-m">
        Offences without an appeal recorded ({{ otherOffences.length }})
    </h2>
    <span data-qa="otherOffences">
            {% for offence in otherOffences %}
                {% set offenceId = 'offences.' + offence.index %}
                {% set recordAppealHref = "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference  + "/" + addOrEditCourtAppearance + "/" + appearanceReference +"/appeals/offences/" + offence.chargeUuid + "/select-appeal-outcome" %}
                {{ offenceCard(offence | offenceToOffenceCard(offenceId, offenceMap, outcomeMap, consecutiveToSentenceMap, sentenceTypeMap, courtMap, errors, {
                    listItems: {
                        classes: 'govuk-!-margin-top-4',
                        items: [
                            {
                                html: '<a href="' + recordAppealHref + '" data-qa="record-appeal-link-' + offence.chargeUuid + '">Record appeal</a>'
                            }
                        ]
                    }
                })) }}
            {% else %}
                {{ govukInsetText({
                            text: "There are no offences without an appeal outcome recorded",
                            classes: "govuk-!-margin-top-2",
                            attributes: {
                                'data-qa': 'NoWithoutAppealOutcomeInset'
                            }
                }) }}
                {% endfor %}
        </span>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m govuk-!-margin-top-7">
            Offences with an appeal recorded ({{ appealedOffences.length }})
        </h2>
        <span data-qa="appealedOffences">
            {% for offence in appealedOffences %}
                {% set offenceId = 'offences.' + offence.index %}
                {{ offenceCard(offence | offenceToOffenceCard(offenceId, offenceMap, outcomeMap, consecutiveToSentenceMap, sentenceTypeMap, courtMap, errors)) }}
            {% else %}
                {{ govukInsetText({
                            text: "There are no offences with an appeal outcome recorded",
                            classes: "govuk-!-margin-top-2",
                            attributes: {
                                'data-qa': 'noWithAppealOutcomeInset'
                            }
                }) }}
            {% endfor %}
        </span>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <form method="post" autocomplete="off">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukRadios({
                            name: "finishedRecordAppeal",
                            fieldset: {
                                legend: {
                                text: "Have you finished recording all appealed offences?",
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend--m"
                                }
                            },
                            errorMessage: errors | findError("finishedRecordAppeal"),
                            items: [
                                {
                                    value: "true",
                                    text: "Yes, I've finished"
                                },
                                {
                                    value: "false",
                                    text: "No, I'll come back to it later"
                                }
                            ]
                        }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue",
                    attributes: {  'data-qa': 'continue-button' }
                }) }}
                {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
            </div>
        </form>
{% endblock%}
