{% extends "../../partials/hearingDetailsLayout.njk" %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/cancelHearingButton/macro.njk" import cancelToConfirm %}

{% set hideOffences = true %}
{% set hideOutcome = true %}
{% set pageTitle = applicationName + " - view appeal order" %}

{% block pageContent %}
    <h1 class="govuk-heading-l">{% if isEditJourney %}Manage court documents {% else %} Upload the appeal order{% endif %}</h1>
    <p class="govuk-hint">
        The file type must be a .PDF, JPG, .PNG, .DOC or .DOCX.
      </p>

    {% if isMultiTypeUploadEnabled %}
        {% include "../../partials/documents/displayMultiTypeUpload.njk" %}
      {% else %}
        {% include "../../partials/documents/displaySingleTypeUpload.njk" %}
      {% endif %}
    <div class="govuk-button-group govuk-!-margin-top-8">
        {{ govukButton({
            text: "Continue",
            href: "/person/" + nomsId + "/" + addOrEditCourtCase + "/" + courtCaseReference + "/" + addOrEditCourtAppearance + "/" + appearanceReference + "/appeals/confirm-view-appeal-order",
            attributes: { 'data-qa': 'continue-button' }
        }) }}
        {{ cancelToConfirm(nomsId, addOrEditCourtCase, courtCaseReference, addOrEditCourtAppearance, appearanceReference, currentPageUrl) }}
    </div>
{% endblock %}
