{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Appearance details successfully updated" %}

{% block subNavigation %}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Appearance details have been updated",
                classes: "govuk-!-margin-bottom-6"
            }) }}
            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-l">What you can do next</h2>
                    <div class="govuk-body govuk-!-margin-top-6">
                        <a class="govuk-link" href="person/{{ nomsId }}/view-court-case/{{ courtCaseReference }}/details">Go back to court case{{' ' + latestAppearance.courtCaseReference if latestAppearance.courtCaseReference}} at {{ courtDetails.courtName }}</a>
                    </div>
                <div class="govuk-body govuk-!-margin-top-6">
                    <span>You can also go back to {{ prisoner | firstNameSpaceLastName | pluraliseName }}:</span>
                    <ul class="govuk-list govuk-!-margin-top-2">
                        <li><a class="govuk-link" href="/person/{{ nomsId }}">Court case information</a></li>
                        <li><a class="govuk-link" href="{{ digitalPrisonServicesUrl }}/prisoner/{{ nomsId }}">Prisoner
                                profile</a></li>
                    </ul>
                </div>
                <div class="govuk-!-margin-top-6">
                    <p class="govuk-body">Or, go to the <a class="govuk-link" href="{{ digitalPrisonServicesUrl }}"> DPS
                            homepage</a>.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
