{% extends "../partials/prisonerBannerBackLayout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}



{% set pageTitle = applicationName + " - Court case details" %}

{% set appearancesSummaryRows = [
                        {
                            key: {
                            text: "Case references"
                        },
                            value: {
                            text: courtCaseDetails.caseReferences
                        }
                        },
                        {
                            key: {
                                text: "Overall case outcome"
                            },
                            value: {
                                text: courtCaseDetails.overallCaseOutcome
                            }
                        }
                    ] %}

{% if courtCaseDetails.nextHearingDate %}
    {% set appearancesSummaryRows = (appearancesSummaryRows.concat({
                            key: {
                                text: "Next hearing date"
                            },
                            value: {
                                text: courtCaseDetails.nextHearingDate
                            }
                        }))%}
{% endif %}

{% if courtCaseDetails.overallSentenceLength %}
    {% set appearancesSummaryRows = (appearancesSummaryRows.concat({
                            key: {
                                text: "Overall sentence length"
                            },
                            value: {
                                text: courtCaseDetails.overallSentenceLength
                            }
                        }))%}
{% endif %}

{% set appearanceRows = [] %}

{% for appearance in courtCaseDetails.appearances %}

    {% set offenceDetailsHtml %}
        {% for charge in appearance.charges %}
            {{
                        offenceCard({
                            offenceCode: charge.offenceCode,
                            offenceName: offenceMap[charge.offenceCode],
                            offenceStartDate: charge.offenceStartDate | formatDate,
                            offenceEndDate: charge.offenceEndDate | formatDate,
                            outcome: charge.outcome,
                            countNumber: charge.sentence.chargeNumber,
                            terrorRelated: charge.terrorRelated,
                            isSentenced: charge.sentence,
                            custodialSentenceLength: charge.sentence.custodialPeriodLength | periodLengthToSentenceLength,
                            licencePeriodLength: charge.sentence.extendedLicensePeriodLength | periodLengthToSentenceLength,
                            sentenceServeType: charge.sentence.sentenceServeType,
                            consecutiveTo: charge.sentence.consecutiveToChargeNumber,
                            sentenceType: charge.sentence.sentenceType,
                            detailsClasses: 'govuk-!-padding-4'
                        })
                    }}
        {% endfor %}
    {% endset %}

    {% set appearanceRows = (appearanceRows.concat([[
        { text: appearance.courtCaseReference, classes: "no-bottom-border" },
        { text: appearance.courtCode, classes: "no-bottom-border" },
        { text: appearance.appearanceDate | formatDate, classes: "no-bottom-border" },
        { text: appearance.outcome, classes: "no-bottom-border" },
        { html: '<a href="/person/' + nomsId + '/edit-court-case/' + courtCaseDetails.courtCaseUuid + '/edit-court-appearance/' + appearance.appearanceUuid + '/details">Edit</a>', classes: "no-bottom-border" }
    ],[
    {
        html: govukDetails({
            summaryText: 'Offences (' + appearance.charges | length  + ')',
            html: offenceDetailsHtml
        }), 
        colspan: 5
    }]]))%}
{% endfor %}

{% block content %}
    {{ super() }}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Appearances for {{ courtCaseDetails.latestCaseReference }} at {{ courtCaseDetails.latestCourtName }}</h1>

            {{ govukSummaryList({
                    rows: appearancesSummaryRows,
                    attributes: {
                        "data-qa": "appearancesSummaryList"
                    }
                }) }}

            <h2 class="govuk-heading-m govuk-!-margin-top-8">
                Appearances <span class="govuk-body">({{ courtCaseDetails.appearanceTotal }})</span>
            </h2>

            {{ govukTable({
                head: [
                {
                    text: "Case reference",
                    classes: "govuk-!-width-one-quarter"
                }, 
                {
                    text: "Location",
                    classes: "govuk-!-width-one-quarter"
                },
                {
                    text: "Warrant date",
                    classes: "govuk-!-width-one-quarter"
                },
                {
                    text: "Outcome",
                    classes: "govuk-!-width-one-quarter"
                },
                {
                    text: "",
                    classes: "govuk-!-width-one-quarter"
                }],
                rows: appearanceRows,
                attributes: {
                    "data-qa": "appearancesTable"
                }
            })}}

        </div>
    </div>

{% endblock %}
