{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-4">
  <h1 class="govuk-heading-l">The details for this person cannot be found</h1>
  <p class="govuk-body">This could be because this person:</p>
  <ul>
    <li>is not in your case load</li>
    <li>has no bookings assigned to them</li>
    <li>has no active bookings</li>
  </ul>
  <p class="govuk-body">Check the details in NOMIS and then <a href="">try again</a>.</p>
</div>

{% endblock %}
