{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}


{% set pageTitle = applicationName + " - Home" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        {{ govukButton({
            text: "Add a court case",
            href: "/person/" + nomsId + "/court-cases/add"
        }) }}
        </div>
    </div>

{% endblock %}