{% extends "../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}
{% from "hmpps/components/court-cases-release-dates/things-to-do/macro.njk" import thingsToDo %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}
    <h1 class="govuk-heading-xl">Court cases</h1>
    {{ thingsToDo(serviceDefinitions, 'courtCases') }}
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            {% if courtCaseDetailModels.length %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
                    <div class="content-top">
                        <div>
                            <span class="govuk-body govuk-!-font-weight-bold">Sort by:</span>
                            <span class="govuk-body govuk-!-margin-left-2">
                                {% if sortBy === 'APPEARANCE_DATE_DESC' %}
                                    Most recent
                                {% else %}
                                    <a href="/person/{{nomsId}}?sortBy=APPEARANCE_DATE_DESC" class="govuk-link govuk-link--no-visited-state">Most recent</a>
                                {% endif %}
                                <span class="seperator">|</span>
                                {% if sortBy === 'APPEARANCE_DATE_ASC'%}
                                    Earliest
                                {% else %}
                                    <a href="/person/{{nomsId}}?sortBy=APPEARANCE_DATE_ASC" class="govuk-link govuk-link--no-visited-state">Earliest</a>
                                {% endif %}

                            </span>
                        </div>
                        <div>
                            <span class="govuk-body">Showing <strong>{{ paginationResults.from }}</strong> to <strong>{{ paginationResults.to }}</strong> of <strong>{{ paginationResults.count }}</strong> court cases</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full" data-qa="court-cases">
                {% for courtCaseDetails in courtCaseDetailModels %}
                        {% set courtCaseSummary %}

                            {% set nextHearingHtml %}
                            <ul class="govuk-list">
                                {% for nextHearingValue in courtCaseDetails.nextHearing %}
                                    <li>
                                        {{ nextHearingValue }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endset %}

                            {% set courtCaseSummaryRows = [
                                    {
                                        key: { text: "Case references"},
                                        value: { text: courtCaseDetails.caseReferences if courtCaseDetails.caseReferences else 'Not entered' }
                                    },
                                    {
                                        key: { text: "First day in custody"},
                                        value: { text: courtCaseDetails.firstDayInCustody + ( ' (' + courtCaseDetails.firstDayInCustodyWarrantType | capitalize + ')' if courtCaseDetails.firstDayInCustodyWarrantType === 'SENTENCING' else '') }
                                    },
                                    {
                                        key: { text: "Overall case outcome"},
                                        value: { text: courtCaseDetails.overallCaseOutcome }
                                    }
                            ] %}
                            {% if courtCaseDetails.warrantType === 'SENTENCING' %}
                                {% set courtCaseSummaryRows = (courtCaseSummaryRows.concat([{
                                        key: { text: "Overall sentence length"},
                                        value: { text: courtCaseDetails.overallSentenceLength | formatLengths if courtCaseDetails.overallSentenceLength else 'Not entered' }
                                    }
                                    ]))%}
                            {% endif %}
                            {% if courtCaseDetails.warrantType !== 'SENTENCING' %}
                              {% set courtCaseSummaryRows = (courtCaseSummaryRows.concat(
                                      {
                                          key: { text: "Next hearing"},
                                          value: { html: nextHearingHtml }
                                      }
                              ))%}
                            {% endif %}
                            {% if courtCaseDetails.hasARecall and not user.hasRecallsAccess %}

                                {{ govukInsetText({
                                    text: "The court case was part of a recall. To make any changes to the recall, update the details in NOMIS then reload this page.",
                                    classes: "govuk-!-margin-top-2",
                                    attributes: {
                                        "data-qa": "recallInset-" + courtCaseDetails.courtCaseUuid
                                    }
                                }) }}
                            {% endif %}

                            {% if courtCaseDetails.mergedToCase %}
                                {{ govukInsetText({
                                    text: courtCaseDetails.mergedToCase | formatMergedToCase(courtMap),
                                    classes: "govuk-!-margin-top-2",
                                    attributes: {
                                        "data-qa": "mergedToCaseInset-" + courtCaseDetails.courtCaseUuid
                                    }
                                }) }}
                            {% endif %}

                            {% if courtCaseDetails.mergedFromCases and courtCaseDetails.mergedFromCases.length %}
                                {% set mergedFromCasesHtml = '' %}

                                {% for mergeFromCase in courtCaseDetails.mergedFromCases%}
                                    {% set mergedFromCasesHtml = mergedFromCasesHtml + ('<br>' if not loop.first else '') + mergeFromCase | formatOverallMergedFromCase(courtMap) %}
                                {% endfor %}
                                {{ govukInsetText({
                                    html: mergedFromCasesHtml,
                                    classes: "govuk-!-margin-top-2",
                                    attributes: {
                                        "data-qa": "mergedCaseInset-" + courtCaseDetails.courtCaseUuid
                                    }
                                }) }}
                            {% endif %}

                            {{
                                govukSummaryList({
                                    rows: courtCaseSummaryRows,
                                    attributes: {
                                        "data-qa": "courtCaseSummary-" + courtCaseDetails.courtCaseUuid
                                    }
                                })
                            }}

                            <hr class="govuk-section-break govuk-section-break--visible">
                            <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-half">
                                        <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">Latest hearing</h2>
                                    </div>
                                </div>
                                <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
                                    <div class="govuk-grid-column-one-third">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Case reference</h3>
                                        <p class="govuk-body govuk-!-margin-bottom-2" data-qa="latestAppearanceCourtCaseReference-{{courtCaseDetails.courtCaseUuid}}">{{ courtCaseDetails.latestAppearance.caseReference if courtCaseDetails.latestAppearance.caseReference else 'Not entered'}}</p>
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Hearing date</h3>
                                        <p class="govuk-body govuk-!-margin-bottom-2" data-qa="latestAppearanceWarrantDate-{{courtCaseDetails.courtCaseUuid}}">{{ courtCaseDetails.latestAppearance.warrantDate | formatDate }}</p>
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Outcome</h3>
                                        <p class="govuk-body govuk-!-margin-bottom-2" data-qa="latestAppearanceOutcome-{{courtCaseDetails.courtCaseUuid}}"> {{ courtCaseDetails.latestAppearance.outcome if courtCaseDetails.latestAppearance.outcome else 'Not entered' }}</p>
                                    </div>
                                    <div class="govuk-grid-column-two-thirds">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Location</h3>
                                        <p class="govuk-body govuk-!-margin-bottom-2" data-qa="latestAppearanceLocation-{{courtCaseDetails.courtCaseUuid}}">{{ courtMap[courtCaseDetails.latestAppearance.courtCode] }}</p>
                                        {% if courtCaseDetails.latestAppearance.warrantType === 'SENTENCING' %}
                                            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Conviction date</h3>
                                            <p class="govuk-body govuk-!-margin-bottom-2" data-qa="latestAppearanceConvictionDate-{{courtCaseDetails.courtCaseUuid}}">{{ courtCaseDetails.latestAppearance.convictionDate | formatDate if courtCaseDetails.latestAppearance.convictionDate else 'Not entered' }}</p>
                                        {% endif %}

                                    </div>
                                    <div class="govuk-grid-column-full govuk-!-margin-top-2">
                                        {% set offenceDetailsHtml %}
                                            {% for offence in courtCaseDetails.offences %}
                                                {{
                                                    offenceCard({
                                                        offenceCode: offence.offenceCode,
                                                        offenceName: offenceMap[offence.offenceCode],
                                                        offenceStartDate: offence.offenceStartDate | formatDate if offence.offenceStartDate else 'Not entered',
                                                        offenceEndDate: offence.offenceEndDate | formatDate,
                                                        outcome: offenceOutcomeMap[offence.outcomeUuid] | outcomeValueOrLegacy(offence.legacyData),
                                                        countNumber: offence.sentence.countNumber if offence.sentence,
                                                        lineNumber: offence.sentence.legacyData.nomisLineReference if offence.sentence and offence.sentence.legacyData,
                                                        convictionDate: (offence.sentence.convictionDate | formatDate) if offence.sentence,
                                                        terrorRelated: offence.terrorRelated,
                                                        isSentenced: offence.sentence,
                                                        periodLengths: offence.sentence.periodLengths if offence.sentence,
                                                        sentenceServeType: offence.sentence.sentenceServeType if offence.sentence,
                                                        consecutiveTo: (consecutiveToSentenceDetailsMap[offence.sentence.consecutiveToSentenceUuid] | checkConsecutiveToSameCase(courtCaseDetails.offences, offence.sentence.consecutiveToSentenceUuid))  if offence.sentence,
                                                        sentenceType: (courtCaseDetails.sentenceTypeMap[offence.sentence.sentenceTypeId] | sentenceTypeValueOrLegacy(offence.sentence.legacyData))  if offence.sentence,
                                                        fineAmount: offence.sentence.fineAmount  if offence.sentence,
                                                        detailsClasses: 'govuk-!-padding-4',
                                                        mergedFromCase: offence.mergedFromCase,
                                                        courtDetails: courtMap
                                                    })
                                                }}
                                            {% endfor %}
                                        {% endset %}

                                        {{ govukDetails({
                                            summaryText: "offences (" + (courtCaseDetails.showingChargeTotal + " of " if courtCaseDetails.showingChargeTotal else "") + courtCaseDetails.chargeTotal + ")",
                                            html: offenceDetailsHtml,
                                            classes: "filter show-toggle govuk-!-margin-bottom-0",
                                                attributes: {
                                                    "data-qa": "courtCaseDetailsComponent-" + courtCaseDetails.courtCaseUuid
                                                }
                                            })
                                        }}
                                    </div>
                            </div>
                            <hr class="govuk-section-break govuk-!-margin-top-4 govuk-section-break--visible">
                            <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-2">
                                <a class="govuk-link--no-visited-state govuk-!-font-weight-bold" href="/person/{{nomsId}}/view-court-case/{{courtCaseDetails.courtCaseUuid}}/details">
                                    {% if courtCaseDetails.allAppearancesHaveRecall %}
                                        View all hearings for this court case ({{ courtCaseDetails.appearanceTotal }})
                                    {% else %}
                                        View and edit all hearings for this court case ({{ courtCaseDetails.appearanceTotal }})
                                    {% endif %}

                                </a>
                            </p>

                        {% endset %}

                        {% set actions = [] %}
                        {% if courtCaseDetails.overallCaseStatus == "INACTIVE" or courtCaseDetails.overallCaseStatus == "MERGED" %}
                          {% set _ = actions.push({
                            href: null,
                            html: govukTag({ text: "Inactive" }),
                            visuallyHiddenText: "Inactive"
                          }) %}
                        {% elif courtCaseDetails.hasARecall %}
                          {% set _ = actions.push({
                            href: null,
                            html: govukTag({ text: "Recalled", classes: "govuk-tag--purple" }),
                            visuallyHiddenText: "Recalled"
                          }) %}
                        {% elif courtCaseDetails.warrantType !== 'SENTENCING' and not viewOnlyEnabled %}
                          {% set _ = actions.push({
                            href: "/person/" + nomsId + "/edit-court-case/" + courtCaseDetails.courtCaseUuid + "/add-court-appearance/" + courtCaseDetails.newAppearanceUuid + "/new-journey",
                            text: "Add hearing",
                            visuallyHiddenText: "Add hearing",
                            attributes: {
                              'data-qa': 'add-appearance-link-' + courtCaseDetails.courtCaseUuid
                            }
                          }) %}
                        {% endif %}

                        {{
                            govukSummaryList({
                                card: {
                                    title: {
                                        text: courtCaseDetails.title
                                    },
                                    actions: {
                                        items: actions
                                    },
                                    attributes: {
                                        "data-qa": "courtCaseCard-" + courtCaseDetails.courtCaseUuid
                                    }
                                },
                                rows: [
                                {
                                    key: { text: "", classes: 'govuk-!-display-none' },
                                    value: { html: courtCaseSummary }
                                }]
                            })
                        }}
                {% else %}
                    <p class="govuk-body">There are no court cases recorded for {{ prisoner | firstNameSpaceLastName }}.</p>
                    {% if not viewOnlyEnabled %}
                        <p class="gouk-body"><a class="govuk-link--no-visited-state" href="/person/{{nomsId}}/add-court-case/{{newCourtCaseId}}/add-court-appearance/{{ appearanceUuid }}/new-journey">Add a court case now</a>
                    {% endif %}
                    </p>
                {% endfor %}

                </div>
            </div>

            {% if pagination %}
                {{ govukPagination(pagination) }}
            {% endif %}

        </div>
        {% if not viewOnlyEnabled %}
            <div class="govuk-grid-column-one-third">

                <div class="actions-list">
                    <ul class="govuk-list actions-list-list">
                        <span class="govuk-heading-m actions-list-header">Actions</span>
                        <li><a href="/person/{{nomsId}}/add-court-case/{{newCourtCaseId}}/add-court-appearance/{{ appearanceUuid }}/new-journey" class="govuk-link govuk-link--no-visited-state">Add a new court case</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
