{% extends "../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}
{% from "hmpps/components/court-cases-release-dates/things-to-do/macro.njk" import thingsToDo %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}
    <h1 class="govuk-heading-l">Court cases</h1>
    {{ thingsToDo(serviceDefinitions, 'courtCases') }}
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-grid-row govuk-!-margin-bottom-3">
                <div class="govuk-grid-column-full">
                    <div class="content-top">
                        <div>
                            <span class="govuk-body govuk-!-font-weight-bold">Sort by:</span>
                            <span class="govuk-body govuk-!-margin-left-2">
                                {% if sortBy === 'desc' %}
                                    Most recent 
                                {% else %}
                                    <a href="/person/{{nomsId}}?sortBy=desc">Most recent</a>
                                {% endif %}
                                <span class="seperator">|</span>
                                {% if sortBy === 'asc'%}
                                    Earliest
                                {% else %}
                                    <a href="/person/{{nomsId}}?sortBy=asc">Earliest</a>
                                {% endif %}

                            </span>
                        </div>
                        <div>
                            <span class="govuk-body">Showing <strong>{{ courtCaseTotal }}</strong> court cases</span>
                        </div>
                    </div>
                </div>
            </div>

            {% for courtCaseDetails in courtCaseDetailModels %}
                {% if courtCaseDetails.overallCaseStatus != 'DELETED' %}
                    {% set courtCaseSummary %}

                        {% set nextHearingHtml %}
                        <ul class="govuk-list">
                            {% for nextHearingValue in courtCaseDetails.nextHearing %}
                                <li>
                                    {{ nextHearingValue }}
                                </li>
                            {% endfor %}
                        </ul>
                        {% endset %}
                        {{
                            govukSummaryList({
                                rows: [
                                {
                                    key: { text: "Case references"},
                                    value: { text: courtCaseDetails.caseReferences if courtCaseDetails.caseReferences else 'Not entered' }
                                },
                                {
                                    key: { text: "Overall case outcome"},
                                    value: { text: courtCaseDetails.overallCaseOutcome }
                                },
                                {
                                    key: { text: "Next hearing"},
                                    value: { html: nextHearingHtml }
                                }
                                ],
                                attributes: {
                                    "data-qa": "courtCaseSummary-" + courtCaseDetails.courtCaseUuid
                                }
                            })
                        }}

                        <hr class="govuk-section-break govuk-section-break--visible">

                        {% if courtCaseDetails.latestAppearance %}

                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">Latest appearance</h2>
                                </div>
                            </div>

                            <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
                                <div class="govuk-grid-column-one-third">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Case reference</h3>
                                    <p class="govuk-body govuk-!-margin-bottom-2" data-qa="latestAppearanceCourtCaseReference-{{courtCaseDetails.courtCaseUuid}}">{{ courtCaseDetails.latestAppearance.courtCaseReference if courtCaseDetails.latestAppearance.courtCaseReference else 'Not entered'}}</p>
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Warrant date</h3>
                                    <p class="govuk-body govuk-!-margin-bottom-2" data-qa="latestAppearanceWarrantDate-{{courtCaseDetails.courtCaseUuid}}">{{ courtCaseDetails.latestAppearance.appearanceDate | formatDate }}</p>
                                </div>
                                <div class="govuk-grid-column-two-thirds">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Location</h3>
                                    <p class="govuk-body govuk-!-margin-bottom-2" data-qa="latestAppearanceLocation-{{courtCaseDetails.courtCaseUuid}}">{{ courtMap[courtCaseDetails.latestAppearance.courtCode] }}</p>
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Outcome</h3>
                                    <p class="govuk-body govuk-!-margin-bottom-2" data-qa="latestAppearanceOutcome-{{courtCaseDetails.courtCaseUuid}}"> {{ courtCaseDetails.latestAppearance.outcome | appearanceOutcomeOrLegacy(courtCaseDetails.latestAppearance.legacyData) }}</p>
                                </div>
                                <div class="govuk-grid-column-full govuk-!-margin-top-2">
                                    {% set offenceDetailsHtml %}
                                        {% for offence in courtCaseDetails.offences %}
                                            {{
                                                offenceCard({
                                                    offenceCode: offence.offenceCode,
                                                    offenceName: offenceMap[offence.offenceCode],
                                                    offenceStartDate: offence.offenceStartDate | formatDate if offence.offenceStartDate else 'Not entered',
                                                    offenceEndDate: offence.offenceEndDate | formatDate,
                                                    outcome: offenceOutcomeMap[offence.outcomeUuid] | outcomeValueOrLegacy(offence.legacyData),
                                                    countNumber: offence.sentence.countNumber,
                                                    convictionDate: offence.sentence.convictionDate | formatDate,
                                                    terrorRelated: offence.terrorRelated,
                                                    isSentenced: offence.sentence,
                                                    custodialSentenceLength: offence.sentence.periodLengths | findPeriodLengthByType("SENTENCE_LENGTH"),
                                                    sentenceType: courtCaseDetails.sentenceTypeMap[offence.sentence.sentenceTypeId] | sentenceTypeValueOrLegacy(offence.sentence.legacyData),
                                                    fineAmount: offence.sentence.fineAmount
                                                })
                                            }}
                                        {% endfor %}
                                    {% endset %}

                                    {{ govukDetails({
                                        summaryText: "Show offences (" + (courtCaseDetails.showingChargeTotal + " of " if courtCaseDetails.showingChargeTotal else "") + courtCaseDetails.chargeTotal + ")",
                                        html: offenceDetailsHtml,
                                            attributes: {
                                                "data-qa": "courtCaseDetailsComponent-" + courtCaseDetails.courtCaseUuid
                                            }
                                        })
                                    }}
                                </div>
                            </div>
                        {% endif %}

                        <hr class="govuk-section-break govuk-!-margin-top-4 govuk-section-break--visible">
                        <p class="govuk-body govuk-!-margin-top-6">
                            <a class="govuk-link--no-visited-state govuk-!-font-weight-bold" href="/person/{{nomsId}}/view-court-case/{{courtCaseDetails.courtCaseUuid}}/details">View and edit all appearances ({{ courtCaseDetails.appearanceTotal }})</a>
                        </p>

                    {% endset %}

                    {{
                        govukSummaryList({
                            card: {
                                title: {
                                    text: courtCaseDetails.title
                                },
                                actions: {
                                    items: [
                                        {
                                            href: "/person/" + nomsId + "/edit-court-case/" + courtCaseDetails.courtCaseUuid +  "/add-court-appearance/" + courtCaseDetails.appearanceTotal + "/new-journey",
                                            text: "Add appearance",
                                            visuallyHiddenText: "Add appearance"
                                        }
                                        if courtCaseDetails.overallCaseStatus != "INACTIVE" else
                                        {
                                            href: null,
                                            html: govukTag({
                                                text: "Inactive"
                                            }),
                                            visuallyHiddenText: "Inactive"
                                        }
                                    ]
                                },
                                attributes: {
                                    "data-qa": "courtCaseCard-" + courtCaseDetails.courtCaseUuid
                                }
                            },
                            rows: [
                            {
                                key: { text: "", classes: 'govuk-!-display-none' },
                                value: { html: courtCaseSummary }
                            }]
                        })
                    }}
                {%  endif %}
            {% endfor %}

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="actions-list">
                <ul class="govuk-list actions-list-list">
                    <span class="govuk-heading-m actions-list-header">Actions</span>
                    <li><a href="/person/{{nomsId}}/add-court-case/{{newCourtCaseId}}/add-court-appearance/0/new-journey">Add a new court case</a></li>
                </ul>
            </div>  
        </div>
    </div>

{% endblock %}